@import "../mixins";

.dragon-body {

background-color:black;
background-image:
radial-gradient(red, rgba(255,0,0,.2) 2px, transparent 40px),
radial-gradient(red, rgba(255,0,0,.15) 1px, transparent 30px),
radial-gradient(red, rgba(255,0,0,.1) 2px, transparent 40px),
radial-gradient(rgba(255,0,0,.4), rgba(255,0,0,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

  .dragon-top {
    @include row(35vh);

    .dragon-top-left {
      @include section(40vw);
      @include center(space-evenly);

      .dirt {
        background-image: url("../../Images/Dirt.png");
        background-size: 100% 100%;
        height: 100%;
        width: 50%;
        @include flex(center);

        .seed-div {
          height: 100%;
          width: 50%;
          @include flex(center);

          .seed {
            border-radius: 25% 50% 50% 25%;
            background-image: linear-gradient(peru, chocolate, sienna, saddlebrown);
            height: 40px;
            width: 50px;
            cursor: pointer;
          }

           .seed-closed {
          display: none;
        }
        }

        .coin-div {
          height: 100%;
          width: 50%;
          @include flex(center);

          .coin {
             background-color: gold;
          border-radius: 50%;
          height: 10px;
          width: 10px;
          cursor: pointer;
          }

          .coin-closed {
            display: none;
          }
        }

       
      }

      .ice {
        background-color: rgba($color: #bbdefb, $alpha: 0.2);
        height: 100%;
        width: 50%;
        cursor: pointer;
      }

      .cinders {
        height: 100%;
        width: 50%;
        background-color: transparent;
        cursor: pointer;
      }
    }

    .dragon-top-middle {
      background-image: url("../../Images/Dirt.png");
      background-size: 100% 100%;
      @include section(20vw);
      @include flex(flex-start);

      .dragon-home {
        @include flex(flex-start);
        cursor: pointer;
      }
    }

    .dragon-top-right {
      @include section(40vw);
    }
  }

  .dragon-middle {
    @include row(20vh);

    .dragon-middle-left {
      @include section(40vw);
    }

    .dragon-middle-middle {
      background-image: url("../../Images/Dirt.png");
      background-size: 100% 100%;
      @include section(20vw);
    }

    .dragon-middle-right {
      @include section(40vw);
    }
  }

  .dragon-bottom {
    @include row(35vh);

    .dragon-bottom-left {
      @include section(40vw);
    }

    .dragon-bottom-middle {
      background-image: url("../../Images/Dirt.png");
      background-size: 100% 100%;
      @include section(20vw);
      @include flex(flex-end);
      border-radius: 0% 0% 50% 50%;
     

      .dragon {
        background-image: url("../../Images/dragon.gif");
        background-size: 100% 100%;
        height: 200px;
        width: 300px;
        z-index: 1;
        cursor: pointer;
      }

      .dragon-closed {
        display: none;
      }

      .scroll {
        background-image: url("../../Images/Scroll.jpg");
        background-size: 100% 100%;
        height: 50px;
        width: 50px;
        cursor: pointer;
      }
    }

    .dragon-bottom-right {
      @include section(40vw);
    }
  }
}
