@import "../mixins";

.store-body {
  background-image: url("../../Images/GeneralStore.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @include row(90vh);
  @include flex(center);
}

.button-div {
    width: 100%;
    @include center(space-evenly);
  }
