@import "../mixins";

.thieves-body {
  background-image: url("../../Images/Snow.png");
  background-size: 100% 100%;

  .thieves-top {
    @include row(35vh);
    background-image: url("../../Images/Shelves.jpg");
    background-size: 33% 100%;
    background-position: center center;
    justify-content: center;

    .thieves-sign {
      height: 80px;
      width: 300px;
      font-size: 30px;
      @include flex(center);
      border: solid;
      background-color: white;

      .thieves-anti {
        position: absolute;
        color: red;
        font-style: italic;
      }
    }
  }

  .thieves-middle {
    background-image: url("../../Images/Floor.png");
    @include row(20vh);

    .thieves-middle-left {
      @include section(40vw);
      @include center(flex-start);

      .thieves-alley {
        @include center(space-evenly);
        cursor: pointer;
      }
    }

    .thieves-middle-middle {
      @include section(20vw);
    }

    .thieves-middle-right {
      @include section(40vw);
      @include center(center);

      .thieves-thief {
        background-image: url("../../Images//Thief.png");
        background-size: 100% 100%;
        height: 150px;
        width: 100px;
      }
    }
  }

  .thieves-bottom {
    @include row(35vh);
    background-image: url("../../Images/Floor.png");

    .thieves-bottom-left {
      @include section(40vw);
      @include center(center);

      .thieves-dining {
        background-image: url("../../Images/Dining.png");
        background-size: 100% 100%;
        height: 200px;
        width: 200px;
      }
    }

    .thieves-bottom-middle {
      @include section(20vw);
      @include flex(center);

      .thieves-rocks {
        background-image: url("../../Images/Rocks.png");
        background-size: 100% 100%;
        height: 200px;
        width: 200px;
      }
    }

    .thieves-bottom-right {
      @include section(40vw);
      @include flex(center);

      .thieves-table {
        background-image: url("../../Images/Table.png");
        background-size: 100% 100%;
        height: 250px;
        width: 300px;
      }
    }
  }
}
