@import "../mixins";
 
  .bog-body {
    height: 90vh;
    width: 100vw;

    .bog-top {
      @include row(35vh);
      display: flex;
      background-image: url("../../Images/Bog.jpg");
      background-size: 100% 100%;
    }

    .bog-middle {
      @include row(20vh);
      background-image: url("../../Images/Dirt.png");
      background-size: 100% 100%;
      display: flex;

      .bog-middle-left {
        @include section(50vw);
          @include center(flex-start);

        .bog-swamp {
          @include center(flex-start);
          cursor: pointer;
        }
      }

      .bog-middle-right {
        @include section(50vw);
        @include center(flex-end);
       

        .bog-hydra {
          background-image: url("../../Images/Hydra.gif");
          background-size: 100% 100%;
          height: 100%;
          width: 300px;
          transform: scaleX(-1);
        }
      }
    }

    .bog-bottom {
      @include row(35vh);
      display: flex;
      background-image: url("../../Images/Grass.png");
      background-size: 100% 100%;

      .bog-bottom-left {
        @include section(40vw);
      }

      .bog-bottom-middle {
      @include section(20vw);
      }

      .bog-bottom-right {
        @include section(40vw);
      }
    }
  }
 