@import "../mixins";

.bog-body {
  height: 90vh;
  width: 100vw;

  .bog-top {
    @include row(35vh);
    background-image: url("../../Images/Bog.jpg");
    background-size: 100% 100%;
  }

  .bog-middle {
    @include row(20vh);
    background-image: url("../../Images/Dirt.png");
    background-size: 100% 100%;

    .bog-middle-left {
      @include section(50vw);
      @include center(flex-start);

      .bog-swamp {
        @include center(flex-start);
        cursor: pointer;
      }
    }

    .bog-middle-right {
      @include section(50vw);
      @include center(flex-end);

      .hydra {
        background-image: url("../../Images/Hydra.gif");
        background-size: 100% 100%;
        height: 100%;
        width: 300px;
        transform: scaleX(-1);
        cursor: pointer;
      }

      .hydra-closed {
        display: none;
      }

      .explosion {
        position: absolute;
        z-index: 3;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: red;
        border: solid orange 1px;
        animation-name: explosion;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        left: 75%;
        bottom: 50%;
      }

      .explosion-closed {
        display: none;
      }

      .scales {
        height: 50px;
        width: 50px;
        border-radius: 25%;
        background-image: url("../../Images/Scales.jpg");
        background-size: 100% 100%;
        cursor: pointer;
      }

      .scales-closed {
        display: none;
      }

      .coins {
        height: 100%;
        width: 50px;
        @include flex(space-evenly);
        cursor: pointer;

        .coin {
          background-color: gold;
          border-radius: 50%;
          height: 10px;
          width: 10px;
        }

        
      }

      .coins-closed {
        display: none;
      }
    }
  }

  .bog-bottom {
    @include row(35vh);
    background-image: url("../../Images/Grass.png");
    background-size: 100% 100%;

    .bog-bottom-left {
      @include section(40vw);
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 20px;

      .sulfur {
        background-image: url("../../Images/Sulfur.jpg");
        background-size: 100% 100%;
        height: 50px;
        width: 50px;
        cursor: pointer;
      }

      .sulfur-closed {
        display: none;
      }
    }

    .bog-bottom-middle {
      @include section(20vw);
    }

    .bog-bottom-right {
      @include section(40vw);
    }
  }
}

.pod {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: lime;
  position: absolute;
  bottom: 60px;
  left: 40px;
  z-index: 6;
  animation-name: pod;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.pod-closed {
  display: none;
}

@keyframes pod {
  0% {
    bottom: 60px;
    left: 40px;
  }

  25% {
    bottom: 20vh;
    left: 20vw;
  }

  50% {
    bottom: 30vh;
    left: 40vw;
  }

  75% {
    bottom: 20vh;
    left: 60vw;
  }

  99% {
    bottom: 60px;
    left: 75vw;
    background-color: lime;
  }

  100% {
    background-color: transparent;
  }
}

@keyframes explosion {
  0% {
    transform: scale(1);
  }

  99% {
    transform: scale(50);
    background-color: red;
    border: solid orange 1px;
  }

  100% {
    background-color: transparent;
    border: none;
  }
}
