@import "../mixins";

.forest-body {
  background-image: url("../../Images/Dirt.png");
  background-size: 100% 100%;

  .forest-top {
    @include row(35vh);
    justify-content: center;
    align-items: flex-end;
    background-image: url("../../Images/Forest.png");
    background-size: 100% 100%;
    position: relative;

    .trunk {
      background-image: url("../../Images/Trunk.png");
      background-size: 100% 100%;
      height: 100%;
      width: 10%;
      z-index: 2;
      cursor: pointer;
      @include flex(flex-end);
    }

    .hole {
      width: 6%;
      height: 6%;
      cursor: pointer;
      z-index: 3;
      position: absolute;
      left: 11%;
      bottom: 15%;
    }
  }

  .forest-middle {
    @include row(20vh);

    .forest-middle-left {
      @include section(40vw);
      @include center(flex-start);

      .forest-home {
        @include center(flex-start);
        cursor: pointer;
      }
    }

    .forest-middle-middle {
      @include section(20vw);
      @include flex(flex-end);

      .forest-ranger {
        height: 150px;
        width: 100px;
        transform: scaleX(-1);
        cursor: pointer;
      }
    }

    .forest-middle-right {
      @include section(40vw);
      @include center(flex-end);

      .forest-swamp {
        @include center(space-evenly);
        cursor: pointer;
      }
    }
  }

  .forest-bottom {
    @include row(35vh);

    .forest-bottom-left {
      background-image: url("../../Images/Forest.jpg");
      background-size: 100% 100%;
      @include section(40vw);
    }

    .forest-bottom-middle {
      @include section(20vw);
      @include flex(flex-end);

      .forest-cave {
        @include flex(flex-start);
        cursor: pointer;
      }
    }

    .forest-bottom-right {
      background-image: url("../../Images/Forest.jpg");
      background-size: 100% 100%;
      @include section(40vw);
    }
  }
}
