.cabin-main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .cabin-body {
background-image: url("../../Images/Grass.png");
background-size: 100% 100%;

    .cabin-top {
      height: 35vh;
      display: flex;
      width: 100vw;

      .cabin-top-left {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       
      }

      .cabin-top-middle {
        background-image: url("../../Images/Dirt.png");
        background-size: 100% 100%;
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .cabin-home {
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
        }
      }

      .cabin-top-right {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
    }

    .cabin-middle {
      height: 35vh;
      display: flex;
      width: 100vw;

      .cabin-middle-left {
        
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
       

        .cabin-cabin {
 background-image: url("../../Images/Cabin.png");
        background-size: 100% 100%;
        height: 250px;
        width: 300px;
        }
      }

      .cabin-middle-middle {
        background-image: url("../../Images/Dirt.png");
        background-size: 100% 100%;
        width: 20%;
        height: 100%;
      }

      .cabin-middle-right {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       
       

        
      }
    }

    .cabin-bottom {
      height: 20vh;
      display: flex;
      width: 100vw;

      .cabin-bottom-left {
        
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../../Images/Dirt.png");
        background-size: 100% 100%;

        .woodsman {
            background-image: url("../../Images/Woodsman.png");
            background-size: 100% 100%;
            height: 120px;
            width: 150px;
        }
        

        
      }

      .cabin-bottom-middle {
        background-image: url("../../Images/Dirt.png");
        background-size: 100% 100%;
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
       

       

        
      }

      .cabin-bottom-right {
        
        height: 100%;
        width: 40%;
        

        
      }
    }
  }

  .pine-tree {
    background-image: url("../../Images/PineTree.png");
    background-size: 100% 100%;
    height: 200px;
    width: 150px;
  }
}


