@import "../mixins";

.cabin-body {
  background-image: url("../../Images/Snow.png");
  background-size: 100% 100%;

  .cabin-top {
    @include row(35vh);

    .cabin-top-left {
      @include section(40vw);
      @include flex(flex-end);
    }

    .cabin-top-middle {
      background-image: url("../../Images/Dirt.png");
      background-size: 100% 100%;
      @include section(20vw);
      @include flex(flex-start);

      .cabin-home {
        @include flex(flex-start);
        cursor: pointer;
      }
    }

    .cabin-top-right {
      @include flex(flex-end);
      @include section(40vw);
    }
  }

  .cabin-middle {
    @include row(35vh);

    .cabin-middle-left {
      @include flex(center);
      @include section(40vw);

      .cabin-cottage {
        width: 200px;
        border: blue;
        display: flex;
        position: relative;

        .cabin-left {
          width: 25px;
          height: 125px;
          background-color: sienna;
          transform: rotate(50deg);
          position: relative;
          left: 50px;
          bottom: 40px;
          z-index: 1;
        }

        .cabin-cottage-middle {
          position: relative;
          width: 150px;
          @include flex(flex-start);

          .cabin-chimney-div {
            position: absolute;
            top: -85px;
            left: 115px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .cabin-smoke {
              border-radius: 50%;
              border-left: solid gray 7px;
              height: 25px;
              width: 25px;
              position: relative;
              left: 9px;
            }

            .cabin-smoke-middle {
              border-radius: 50%;
              border-right: solid gray 7px;
              height: 25px;
              width: 25px;
            }

            .cabin-chimney {
              background-color: brown;
              height: 50px;
              width: 25px;
              border-radius: 0% 0% 0% 50%;
            }
          }

          .cabin-short-log {
            background-color: brown;
            width: 50px;
            height: 20px;
            border: solid;
          }
          .cabin-medium-log {
            background-color: brown;
            width: 75px;
            height: 20px;
            border: solid;
          }

          .cabin-window-div {
            width: 150px;
            height: 40px;
            display: flex;
            .cabin-window-div-side {
              width: 50px;
              height: 40px;
            }
            .cabin-window {
              width: 50px;
              height: 40px;

              .cabin-window-row {
                display: flex;
                width: 100%;
                height: 18px;
                .cabin-window-pane {
                  height: 100%;
                  width: 23px;
                  background-color: white;
                }
                .cabin-window-line {
                  height: 100%;
                  width: 4px;
                  background-color: gray;
                }
              }
              .cabin-window-middle {
                width: 50px;
                height: 4px;
                background-color: gray;
              }
            }
          }

          .cabin-long-log {
            height: 20px;
            width: 150px;
            background-color: brown;
            border: solid;
          }

          .cabin-door-div {
            display: flex;
            height: 60px;
            width: 150px;
            .cabin-door-div-side {
              height: 60px;
              width: 50px;
            }
            .cabin-door {
              height: 60px;
              width: 50px;
              background-color: sienna;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              border: solid;

              .cabin-door-knob {
                background-color: black;
                border-radius: 50%;
                position: relative;
                left: 5px;
                height: 10px;
                width: 10px;
              }
              .cabin-lock-div {
                @include flex(center);
                height: 10px;
                width: 10px;
                left: 5px;

                .cabin-lock-top {
                  background-color: black;
                  border-radius: 50%;
                  height: 3px;
                  width: 3px;
                }

                .cabin-lock-bottom {
                  background-color: black;
                  height: 4px;
                  width: 1px;
                  position: relative;
                  bottom: 2px;
                }
              }
            }
          }
        }
        .cabin-right {
          width: 25px;
          height: 125px;
          background-color: sienna;
          transform: rotate(-48deg);
          position: relative;
          right: 50px;
          bottom: 40px;
        }
      }
    }

    .cabin-middle-middle {
      background-image: url("../../Images/Dirt.png");
      background-size: 100% 100%;
      @include section(20vw);
    }

    .cabin-middle-right {
      @include section(40vw);
      @include flex(flex-end);
    }
  }

  .cabin-bottom {
    @include row(20vh);

    .cabin-bottom-left {
      @include section(40vw);
      @include flex(center);
      background-image: url("../../Images/Dirt.png");
      background-size: 100% 100%;

      .woodsman {
        position: relative;
        top: 75px;
        cursor: pointer;

        .woodsman-head {
          display: flex;
          justify-content: center;
          position: relative;
          bottom: 42px;

          .woodsman-hair-left {
            height: 16px;
            width: 25px;
            border-bottom: gray solid 10px;
            border-left: gray solid 10px;
            position: relative;
            top: 24px;
            left: 25px;
            z-index: 6;
            border-radius: 25% 0% 0% 50%;
          }

          .woodsman-face {
            height: 42px;
            width: 42px;
            background-color: #ffdbac;
            border-radius: 50%;
            @include flex(center);
            border-bottom: black solid 1px;

            .woodsman-hair-top-left {
              height: 5px;
              width: 12px;
              border-radius: 25%;
              background-color: gray;
              z-index: 2;
              transform: rotate(-10deg);
              position: relative;
              right: 9px;
              top: 8px;
            }

            .woodsman-hair-top-right {
              height: 5px;
              width: 12px;
              border-radius: 25%;
              background-color: gray;
              transform: rotate(10deg);
              position: relative;
              left: 9px;
              top: 3px;
              z-index: 2;
            }

            .woodsman-eyes {
              width: 80%;
              @include center(space-evenly);
              position: relative;
              top: 4px;

              .woodsman-eye {
                width: 15px;
                height: 8px;
                border-radius: 50%;
                background-color: white;
                @include flex(center);

                .woodsman-iris {
                  width: 5.5px;
                  height: 5.5px;
                  border-radius: 50%;
                  background-color: sienna;
                  @include flex(center);
                }
              }
            }
            .woodsman-nose {
              height: 5px;
              width: 7px;
              @include flex(center);
              border-left: solid 0.5px;
              border-right: solid 0.5px;
              border-bottom: solid 0.5px;
              border-radius: 0% 0% 50% 50%;
              position: relative;
              top: 4px;
            }

            .woodsman-mouth {
              height: 20px;
              width: 18px;
              border-bottom: solid 0.5px;
              position: relative;
              bottom: 11px;
            }
          }

          .woodsman-hair-right {
            height: 16px;
            width: 25px;
            border-radius: 0% 25% 50% 0%;
            border-bottom: gray solid 10px;
            border-right: gray solid 10px;
            position: relative;
            top: 24px;
            right: 25px;
            z-index: 6;
          }
        }
        .woodsman-body {
          @include flex(flex-start);

          .woodsman-dress {
            width: 50px;
            height: 90px;
            background-color: sienna;
            border-radius: 25% 25% 0% 0%;
            position: relative;
            bottom: 43px;
            z-index: 2;
            @include center(space-between);

            .woodsman-arm-left {
              height: 40px;
              width: 12px;
              background-color: sienna;
              transform: rotate(-105deg);
              position: relative;
              bottom: 20px;
              left: 11px;
              @include flex(center);
              border: solid 0.5px;
              border-top: solid 4px;
              border-radius: 50% 50% 0% 0%;

              .woodsman-finger-div {
                width: 16px;
                height: 15px;
                z-index: 7;
                position: relative;
                top: 25px;
                display: flex;
                justify-content: space-between;
                border-top: solid .5px;
              
                .woodsman-finger-one {
                  background-color: #ffdbac;
                  height: 12px;
                  width: 4px;
                  border-radius: 0% 0% 0% 50%;
                  position: relative;
                   z-index: 7;
                }
                .woodsman-finger-two {
                  background-color: #ffdbac;
                  height: 12px;
                  width: 4px;
                   z-index: 7;
                  border-radius: 0%;
                  position: relative;
                  border-left: solid .5;
                }
                .woodsman-finger-three {
                  background-color: #ffdbac;
                  height: 12px;
                  width: 5px;
                  z-index: 7;
                  border-radius: 0%;
                  position: relative;
                  border-left: solid .5;
                }

                .woodsman-finger-four {
                  background-color: #ffdbac;
                  height: 12px;
                  width: 5px;
                  z-index: 7;
                  border-radius: 0%;
                  position: relative;
                  border-radius: 0% 0% 50% 0%;
                }
              }
            }

            .woodsman-dress-crease {
              position: absolute;
              height: 2px;
              width: 100%;
              background-color: black;
              top: 65px;
            }

            .woodsman-arm-right {
              height: 40px;
              width: 12px;
              background-color: sienna;
              transform: rotate(105deg);
              position: relative;
              bottom: 19px;
              right: 11px;
              @include flex(center);
              border: solid 0.5px;
              border-top: solid 4px;
              border-radius: 50% 50% 0% 0%;

              .woodsman-finger-div {
                width: 16px;
                height: 15px;
                position: relative;
                top: 25px;
                display: flex;
                justify-content: space-between;
                border-top: solid .5px;
                .woodsman-finger-one {
                  background-color: #ffdbac;
                  height: 12px;
                  width: 4px;
                  z-index: 2;
                  border-radius: 0% 0% 0% 50%;
                  position: relative;
                }
                .woodsman-finger-two {
                  background-color: #ffdbac;
                  height: 12px;
                  width: 4px;
                  z-index: 2;
                  position: relative;
                  border-right: solid 0.5;
                }
                .woodsman-finger-three {
                  background-color: #ffdbac;
                  height: 12px;
                  width: 4px;
                  z-index: 2;
                  position: relative;
                  border-right: solid 0.5;
                }

                .woodsman-finger-four {
                  background-color: #ffdbac;
                  height: 12px;
                  width: 4px;
                  z-index: 2;
                  border-radius: 0% 0% 50% 0%;
                  position: relative;
                }
              }
            }
          }

          .woodsman-legs {
            @include center(space-between);
            width: 60px;
            position: relative;
            bottom: 50px;
            z-index: 4;

            .woodsman-leg-left {
              height: 40px;
              width: 20px;
              background-color: sienna;
              @include flex(flex-end);
              border-radius: 50% 50% 0% 0%;
              border-top: solid .5px;
              position: relative;
              bottom: 5px;

              .woodsman-foot {
                height: 9px;
                width: 25px;
                background-color: black;
                position: relative;
                z-index: 1;
                border-radius: 50% 50% 0% 0%;
              }
            }

            .woodsman-leg-right {
              height: 40px;
              width: 20px;
              background-color: sienna;
              @include flex(flex-end);
              border-radius: 50% 50% 0% 0%;
              border-top: .5px solid;
              position: relative;
              bottom: 5px;

              .woodsman-foot {
                height: 12px;
                width: 25px;
                background-color: black;
                position: relative;
                z-index: 1;
                border-radius: 50% 50% 0% 0%;
              }
            }
          }
        }
      }

      .chair-div {
        @include flex(flex-start);
        position: relative;
        bottom: 80px;

        .chair-top-div {
          width: 60px;
          height: 60px;
          @include center(flex-end);

          .chair-top {
            height: 60px;
            width: 60px;
            background-color: chocolate;
            border: solid;
          }
        }

        .chair-seat {
          width: 100%;
          height: 15px;
          background-color: chocolate;
          border: solid;
          border-top: solid 0.5px;
        }

        .chair-leg-div {
          @include center(space-between);
          height: 50px;
          width: 100%;

          .chair-leg {
            height: 100%;
            width: 15px;
            background-color: chocolate;
            border: solid;
            border-top: solid 0.5px;
          }
        }
      }
    }

    .cabin-bottom-middle {
      background-image: url("../../Images/Dirt.png");
      background-size: 100% 100%;
      @include section(20vw);
      @include flex(flex-end);
    }

    .cabin-bottom-right {
      @include section(40vw);
      display: flex;
      padding: 20px;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;

      .mushroom {
        @include flex(center);
        cursor: pointer;
        .mushroom-top {
          width: 50px;
          height: 50px;
          background-image: linear-gradient(45deg, transparent 50%, red 50%);
          border-radius: 25%;
          @include flex(center);
          transform: rotate(-45deg);
          position: relative;
          top: 25px;

          .mushroom-speckle-one {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-color: white;
            position: relative;
            left: 12px;
            top: 3px;
          }
          .mushroom-speckle-two {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-image: linear-gradient(white 50%, transparent 50%);
            transform: rotate(-90deg);
            position: relative;
            left: 25.5px;
            top: 8px;
          }
          .mushroom-speckle-three {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-image: linear-gradient(transparent 50%, white 50%);

            position: relative;
            right: 5px;
            bottom: 31.5px;
          }
          .mushroom-speckle-four {
            height: 15px;
            width: 20px;
            border-radius: 50%;
            background-image: linear-gradient(white 50%, transparent 50%);
            position: relative;
            transform: rotate(45deg);
            bottom: 13px;
            left: 6px;
          }
        }
        .mushroom-stem {
          height: 25px;
          width: 20px;
          background-color: tan;
          border-radius: 0% 0% 25% 25%;
        }
      }

      .mushroom-closed {
        display: none;
      }
    }
  }
}

.pine-tree {
  @include flex(center);
  .pine-tree-top {
    height: 100px;
    width: 100px;
    background-image: linear-gradient(45deg, transparent 50%, green 50%);
    transform: rotate(-45deg);
    position: relative;
    top: 225px;
  }
  .pine-tree-middle {
    height: 125px;
    width: 125px;
    background-image: linear-gradient(45deg, transparent 50%, green 50%);
    transform: rotate(-45deg);
    position: relative;
    top: 160px;
  }
  .pine-tree-bottom {
    height: 150px;
    width: 150px;
    background-image: linear-gradient(45deg, transparent 50%, green 50%);
    transform: rotate(-45deg);
    position: relative;
    top: 76px;
  }
  .pine-tree-trunk {
    height: 65px;
    width: 45px;
    background-color: brown;
  }
}
