@import "../mixins";

.town-body {
  .town-top {
    @include row(35vh);

    .town-top-left {
      @include section(40vw);
      @include flex(space-evenly);
      background-image: url("../../Images/Grass.png");
      background-size: 100% 100%;

      .town-house {
        height: 200px;
        width: 200px;
      }
    }

    .town-top-middle {
      background-image: url("../../Images//Dirt.png");
      background-size: 100% 100%;
      @include section(20vw);
      @include flex(space-between);

      .town-castle {
        @include flex(flex-start);
        cursor: pointer;
      }

      .town-farmer {
        height: 150px;
        width: 120px;
        cursor: pointer;
      }
    }

    .town-top-right {
      background-image: url("../../Images//Grass.png");
      background-size: 100% 100%;
      @include section(40vw);
      @include flex(space-evenly);

      .town-house {
        height: 200px;
        width: 200px;
      }
    }
  }

  .town-middle {
    @include row(20vh);
    background-image: url("../../Images/Dirt.png");
    background-size: 100% 100%;

    .town-middle-left {
      @include section(40vw);
      @include center(flex-start);

      .town-stables {
        @include center(space-evenly);
        width: 110px;
        cursor: pointer;
      }
    }

    .town-middle-middle {
      @include section(20vw);
    }

    .town-middle-right {
      @include section(40vw);
      @include center(flex-end);

      .town-market {
        @include center(space-evenly);
        width: 120px;
        cursor: pointer;
      }
    }
  }

  .town-bottom {
    @include row(35vh);

    .town-bottom-left {
      background-image: url("../../Images/Grass.png");
      background-size: 100% 100%;
      @include section(40vw);
      @include flex(space-evenly);

      .town-house {
        height: 200px;
        width: 200px;
      }
    }

    .town-bottom-middle {
      background-image: url("../../Images//Dirt.png");
      background-size: 100% 100%;
      @include section(20vw);
      @include flex(flex-end);

      .town-town {
        @include flex(flex-start);
        cursor: pointer;
      }
    }

    .town-bottom-right {
      background-image: url("../../Images/Grass.png");
      background-size: 100% 100%;
      @include section(40vw);
      @include flex(space-evenly);

      .town-house {
        height: 200px;
        width: 200px;
      }
    }
  }
}

#up-arrow {
  height: 50px;
  width: 50px;
  color: red;
  cursor: pointer;
}
