@import "../mixins";

.mountain-body {
  background-image: url("../../Images/Dirt.png");
  background-size: 100% 100%;

  .mountain-top {
    @include row(35vh);
    background-color: skyblue;
    border-bottom: solid black 2px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    

    .mountain-top-left {
      height: 250px;
      width: 250px;
      background-image: linear-gradient(45deg, transparent 50%, brown 50% 75%, white 75%);
      transform: rotate(-45deg);
      position: relative;
    top: 125px;
     border-top: solid .5px;
    border-right: solid .5px;
    z-index: 1;
    }

    .mountain-top-middle {
      height: 350px;
      width: 350px;
      background-image: linear-gradient(45deg, transparent 50%, brown 50% 75%, white 75%);
      transform: rotate(-45deg);
      position: relative;
    top: 175px;

    }

    .mountain-top-right {
       height: 250px;
      width: 250px;
      background-image: linear-gradient(45deg, transparent 50%, brown 50% 75%, white 75%);
      transform: rotate(-45deg);
      position: relative;
    top: 125px;
    border-top: solid .5px;
    border-right: solid .5px;
    }
    
  }

  .mountain-middle {
    @include row(20vh);

    .mountain-middle-left {
      @include section(40vw);
      @include center(flex-start);

      .mountain-nest {
        @include center(space-evenly);
        cursor: pointer;
      }
    }

    .mountain-middle-middle {
      @include section(20vw);
      @include flex(flex-start);

      .mountain-mountaineer {
        @include flex(center);
        cursor: pointer;
        position: relative;
        bottom: 80px;
        .mountain-mountaineer-hat {
          @include flex(center);
          position: relative;
          top: 25px;
          z-index: 2;
          .mountain-mountaineer-hat-top {
            height: 40px;
            width: 40px;
            
            border-radius: 50% 50% 0% 0%;
            position: relative;
            top: 50px;
            border-top: orangered solid 17px;
            border-left: orangered solid 6px;
            border-right: orangered solid 6px;
          }
        }
        .mountain-mountaineer-head {
          position: relative;
          top: 40px;
          @include center(center);

          
          .mountain-mountaineer-face {
            height: 55px;
            width: 40px;
            border-radius: 50%;
            background-color: peachpuff;
            @include flex(space-evenly);

            .mountain-mountaineer-eyes {
              @include center(space-evenly);
              width: 90%;
              position: relative;
              top: 8px;

              .mountain-mountaineer-eye {
                height: 9px;
                width: 12px;
                background-color: white;
                border-radius: 50%;
                @include flex(center);
                border-top: solid orangered;

                .mountain-mountaineer-pupil {
                  height: 5px;
                  width: 5px;
                  background-color: black;
                  border-radius: 50%;
                }
              }
            }

            .mountain-mountaineer-nose-div {
              @include center(space-between);
              position: relative;
              top: 4px;
              width: 100%;

              .mountain-mountaineer-nose {
                border: solid 0.5px;
                border-top: none;
                width: 10px;
                height: 6px;
                border-radius: 25% 25% 50% 50%;
              }
            }

            .mountain-mountaineer-mouth {
              width: 17px;
              height: 10px;
              border-top: solid .5px rgb(209, 96, 96);
              position: relative;
              top: 1px;
              border-radius: 50%;
            }
          }
         
        }
        .mountain-mountaineer-neck {
          width: 40px;
          height: 40px;
          border-radius: 0% 0% 50% 50%;
          border-bottom: solid orangered 17px;
          border-left: solid orangered 6px;
          border-right: solid orangered 6px;
          position: relative;
          top: 5px;
          z-index: 2;
        }
        .mountain-mountaineer-shirt {
          height: 60px;
          width: 40px;
          background-color: #dcdcdc;
          position: relative;
          bottom: 4px;
          border-radius: 40% 40% 0% 0%;
          @include center(space-between);

          .mountain-mountaineer-left-arm {
            background-color: #dcdcdc;
            width: 10px;
            height: 50px;
            transform: rotate(30deg);
            position: relative;
            right: 8px;
            @include flex(flex-end);

            .mountain-mountaineer-hand {
              width: 15px;
              height: 20px;
              border-radius: 25%;
              @include center(space-evenly);
              align-items: flex-end;
              background-color: gray;
              position: relative;
              top: 10px;

              .mountain-mountaineer-finger-line {
                height: 50%;
                width: 0.5px;
                background-color: black;
              }
            }
          }
          .mountain-mountaineer-right-arm {
            background-color: #dcdcdc;
            width: 10px;
            height: 50px;
            transform: rotate(-30deg);
            position: relative;
            left: 8px;
            @include flex(flex-end);

            .mountain-mountaineer-hand {
              width: 15px;
              height: 20px;
              @include center(space-evenly);
              align-items: flex-end;
              background-color: gray;
              position: relative;
              top: 10px;
              border-radius: 25%;

              .mountain-mountaineer-finger-line {
                height: 50%;
                width: 0.5px;

                background-color: black;
              }
            }
          }
        }
        .mountain-mountaineer-pants {
          background-color: #dcdcdc;
          height: 20px;
          width: 40px;
          position: relative;
          bottom: 5px;
          border-top: solid .5px;
        }
        .mountain-mountaineer-leg-div {
          width: 40px;
          @include center(space-between);
          position: relative;
          bottom: 5px;

          .mountain-mountaineer-leg {
            height: 45px;
            width: 15px;
            background-color: #dcdcdc;
            @include flex(flex-end);

            .mountain-mountaineer-shoe {
              width: 20px;
              height: 10px;
              background-color: gray;
              border-radius: 25% 25% 0% 0%;
            }
          }
        }
      }
    }

    .mountain-middle-right {
      @include section(40vw);
      @include center(flex-end);

      .mountain-home {
        @include center(flex-end);
        width: 100px;
        cursor: pointer;
      }
    }
  }

  .mountain-bottom {
    @include row(35vh);

    .mountain-bottom-left {
      background-image: url("../../Images/Snow.png");
      background-size: 100% 100%;
      @include section(40vw);
      display: flex;
      justify-content: center;
      padding: 10px;

      .rock {
        background-image: url("../../Images//Snow.png");
        background-size: 100% 100%;
        border: solid 1px white;
        border-radius: 50%;
        height: 30px;
        width: 20px;
        cursor: pointer;
      }

      .rock-closed {
        display: none;
      }

      .coin {
        background-color: gold;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        cursor: pointer;
      }

      .coin-closed {
        display: none;
      }
    }

    .mountain-bottom-middle {
      @include section(20vw);
      @include flex(flex-end);

      .mountain-pass {
        @include flex(flex-start);
        cursor: pointer;
        bottom: 5px;
      }
    }

    .mountain-bottom-right {
      background-image: url("../../Images/Snow.png");
      background-size: 100% 100%;
      @include section(40vw);
    }
  }
}
