@import "../mixins";

.mountain-body {
  background-image: url("../../Images/Dirt.png");
  background-size: 100% 100%;

  .mountain-top {
    @include row(35vh);
    background-image: url("../../Images/Mountain.png");
    background-size: 100% 100%;
  }

  .mountain-middle {
    @include row(20vh);

    .mountain-middle-left {
      @include section(40vw);
      @include center(flex-start);

      .mountain-nest {
        @include center(flex-start);
        cursor: pointer;
      }
    }

    .mountain-middle-middle {
      @include section(20vw);
      @include flex(flex-start);

      .mountaineer {
        background-image: url("../../Images//Mountaineer.png");
        background-size: 100% 100%;
        height: 150px;
        width: 100px;
        z-index: 1;
        position: relative;
        bottom: 100px;
        cursor: pointer;
      }
    }

    .mountain-middle-right {
      @include section(40vw);
      @include center(flex-end);

      .mountain-home {
        @include center(flex-end);
        width: 100px;
      }
    }
  }

  .mountain-bottom {
    @include row(35vh);

    .mountain-bottom-left {
      background-image: url("../../Images/Snow.png");
      background-size: 100% 100%;
      @include section(40vw);
      display: flex;
      justify-content: center;
      padding: 10px;

      .rock {
        background-image: url("../../Images//Snow.png");
        background-size: 100% 100%;
        border: solid 1px white;
        border-radius: 50%;
        height: 30px;
        width: 20px;
        cursor: pointer;
      }

      .rock-closed {
        display: none;
      }

      .coin {
        background-color: gold;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        cursor: pointer;
      }

      .coin-closed {
        display: none;
      }
    }

    .mountain-bottom-middle {
      @include section(20vw);
      @include flex(flex-end);

      .mountain-pass {
        @include flex(flex-start);
        cursor: pointer;
        bottom: 5px;
      }
    }

    .mountain-bottom-right {
      background-image: url("../../Images/Snow.png");
      background-size: 100% 100%;
      @include section(40vw);
    }
  }
}
