@import "../mixins";

.throne-body {
  height: 90vh;
  width: 100vw;

  .throne-top {
    @include row(55vh);
    background-image: url("../../Images/Throne.jpg");
    background-size: 100% 100%;
  }

  .throne-bottom {
    @include row(35vh);

    .throne-bottom-left {
      @include section(40vw);
      background-color: papayawhip;
    }

    .throne-bottom-middle {
      @include section(20vw);
      @include flex(flex-end);
      background-color: crimson;

      .throne-castle {
        @include flex(flex-start);
        cursor: pointer;
      }
    }

    .throne-bottom-right {
      background-color: papayawhip;
      @include section(40vw);
    }
  }
}
