@import "../mixins";

.tower-body {
  background-image: url("../../Images/Grass.png");
  background-size: 100% 100%;
  .tower-top {
    @include row(35vh);

    .tower-top-left {
      @include section(40vw);
      background-color: black;
      background-image: linear-gradient(335deg, silver 23px, transparent 23px),
        linear-gradient(155deg, silver 23px, transparent 23px),
        linear-gradient(335deg, silver 23px, transparent 23px),
        linear-gradient(155deg, silver 23px, transparent 23px);
      background-size: 58px 58px;
      background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
      border-right: solid black 7px;
      @include center(flex-end);

      .tower-coin {
        height: 30px;
        width: 5px;
        background-color: black;
        position: relative;
        right: 9px;
        bottom: 4px;
        cursor: pointer;
      }
    }

    .tower-top-middle {
      @include section(20vw);
    }

    .tower-top-right {
      @include section(40vw);
      @include flex(flex-end);

      .tower-tower {
        height: 100%;
        width: 50%;
        background-color: black;
        background-image: linear-gradient(335deg, silver 23px, transparent 23px),
          linear-gradient(155deg, silver 23px, transparent 23px),
          linear-gradient(335deg, silver 23px, transparent 23px),
          linear-gradient(155deg, silver 23px, transparent 23px);
        background-size: 58px 58px;
        background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
        @include flex(flex-end);
        border-left: solid 4px black;
        border-right: solid 4px black;

        .tower-door {
          height: 225px;
          width: 125px;
          background-color: sienna;
          @include center(flex-start);
          border: solid black 2px;

          .tower-door-knob {
            height: 25px;
            width: 25px;
            background-color: black;
            border-radius: 50%;
            position: relative;
            left: 10px;
          }
        }
      }
    }
  }

  .tower-middle {
    @include row(20vh);
    background-image: url("../../Images/Dirt.png");
    background-size: 100% 100%;

    .tower-middle-left {
      @include section(40vw);
      @include center(flex-start);

      .tower-castle {
        @include center(flex-start);
        width: 110px;
        cursor: pointer;
      }
    }
    .tower-middle-middle {
      @include section(20vw);
      @include flex(center);
      .weasel {
        @include center(flex-start);
        position: relative;
        animation-name: weasel;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-direction: normal;
        animation-duration: 1s;
        cursor: pointer;

        .weasel-head {
          @include flex(center);

          .weasel-ear {
            border-radius: 50%;
            height: 20px;
            width: 20px;
            background-image: linear-gradient(sienna 50%, transparent 50%);
            position: relative;
            top: 10px;
            @include flex(center);

            .weasel-inner-ear {
              border-radius: 50%;
              height: 15px;
              width: 15px;
              background-image: linear-gradient(tan 50%, transparent 50%);
            }
          }
          .weasel-face {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 60px;
            height: 30px;
            background-color: sienna;
            border-radius: 50%;
            .weasel-eyes {
              border-radius: 50%;
              height: 5px;
              width: 5px;
              background-color: black;
              position: relative;
              left: 12px;
              top: 5px;
            }
            .weasel-eyes-closed {
              display: none;
            }
            .weasel-crazy-eyes {
              border-radius: 50%;
              height: 6px;
              width: 6px;
              background-color: rgb(201, 42, 42);
              position: relative;
              left: 17px;
              top: 2px;
            }
            .weasel-crazy-eyes-closed {
              display: none;
            }
            .weasel-nose-div {
              @include center(center);
              position: relative;
              right: 4px;
              .weasel-nose {
                border-radius: 50%;
                height: 5px;
                width: 5px;
                background-color: pink;
                position: relative;
              }
              .weasel-whisker-div {
                @include flex(space-evenly);
                height: 12px;
                position: relative;
                left: 2px;

                .weasel-whisker-one {
                  width: 10px;
                  height: 0.5px;
                  background-color: black;
                  transform: rotate(-10deg);
                  position: relative;
                }

                .weasel-whisker-two {
                  width: 10px;
                  height: 0.5px;
                  background-color: black;
                  transform: rotate(0deg);
                  position: relative;
                }
                .weasel-whisker-three {
                  width: 10px;
                  height: 0.5px;
                  background-color: black;
                  transform: rotate(10deg);
                  position: relative;
                }
              }
            }
            .weasel-mouth {
              width: 12px;
              height: 1.5px;
              background-color: pink;
              position: relative;
              left: 4px;
              top: 5px;
            }
            .weasel-mouth-closed {
              display: none;
            }
            .weasel-crazy-mouth {
              height: 8px;
              width: 15px;
              background-color: black;
              border-top: pink solid 1px;
              border-right: pink solid 1px;
              border-bottom: pink solid 1px;
              border-radius: 0% 50% 50% 0%;
              position: relative;
              left: 4px;
              transform: rotate(-10deg);

              .weasel-crazy-mouth-top {
                width: 100%;
                height: 50%;
                @include center(space-evenly);
                .weasel-tooth {
                  height: 5px;
                  width: 5px;
                  background-image: linear-gradient(
                    45deg,
                    transparent 50%,
                    white 50%
                  );
                  transform: rotate(135deg);
                  position: relative;
                  bottom: 2.5px;
                }
              }
              .weasel-crazy-mouth-bottom {
                width: 100%;
                height: 50%;
                @include center(space-evenly);
                .weasel-tooth {
                  height: 5px;
                  width: 5px;
                  background-image: linear-gradient(
                    45deg,
                    transparent 50%,
                    white 50%
                  );
                  transform: rotate(-45deg);
                  position: relative;
                  top: 2.5px;
                }
              }
            }
            .weasel-crazy-mouth-closed {
              display: none;
            }
          }
        }
        .weasel-neck {
          height: 20px;
          width: 10px;
          background-color: sienna;
          position: relative;
          top: 10px;
          right: 5px;
        }
        .weasel-body {
          height: 40px;
          width: 80px;
          background-color: sienna;
          position: relative;
          top: 10px;
          border-radius: 50%;
          right: 15px;
          @include flex(center);
          .weasel-tummy {
            height: 40px;
            width: 80px;
            background-image: linear-gradient(0deg, tan 20%, transparent 20%);
            position: relative;
            border-radius: 50%;
            top: 9px;
            z-index: 1;
          }
          .weasel-limb-div {
            @include center(space-between);
            width: 100%;
            top: 10px;

            .weasel-paw {
              width: 25px;
              height: 10px;
              background-color: sienna;
              border-radius: 50% 50% 25% 25%;
              position: relative;
              bottom: 8px;
              right: 15px;
              transform: rotate(-45deg);
            }
            .weasel-foot {
              width: 25px;
              height: 10px;
              background-color: sienna;
              border-radius: 25% 0% 25% 25%;
              position: relative;
              bottom: 5px;
              left: 2px;
              transform: rotate(-40deg);
            }
          }
        }
        .weasel-tail {
          width: 60px;
          height: 25px;
          border-bottom: sienna 12px solid;
          border-right: sienna 12px solid;
          border-radius: 0% 50% 50% 0%;
          position: relative;
          right: 25px;
          top: 20px;
          transform: scaleY(-1);
        }
      }
    }

    .tower-middle-right {
      @include section(40vw);

      .princess {
        @include flex(center);
        position: relative;
        bottom: 40px;
        cursor: pointer;

        .princess-hat {
          border-radius: 50% 50% 25% 25%;
          height: 80px;
          width: 50px;
          border-top: #fbf6d9 12px solid;
          border-left: #fbf6d9 8px solid;
          border-right: #fbf6d9 8px solid;
          position: relative;
          z-index: 3;
          top: 3px;
        }

        .princess-head {
          display: flex;
          justify-content: center;
          position: relative;
          bottom: 68px;

          .princess-hair-left {
            height: 5px;
            width: 21px;
            position: relative;
            left: 21px;
            z-index: 5;
            background-color: gold;
            border-radius: 50% 0% 0% 0%;
          }

          .princess-face {
            height: 42px;
            width: 42px;
            background-color: #eebb99;
            border-radius: 50%;
            @include flex(center);
            border-bottom: black solid 1px;

            .princess-hair-top-left {
              height: 10px;
              width: 10px;
              background-image: linear-gradient(
                45deg,
                transparent 50%,
                gold 50%
              );
              position: absolute;
              left: 8px;
              transform: rotate(-45deg);
              bottom: 36px;
              z-index: 3;
            }

            .princess-hair-top-right {
              height: 10px;
              width: 10px;
              background-image: linear-gradient(
                45deg,
                transparent 50%,
                gold 50%
              );
              position: absolute;
              right: 8px;
              transform: rotate(-45deg);
              z-index: 3;
              bottom: 36px;
            }

            .princess-eyes {
              width: 80%;
              @include center(space-evenly);
              position: relative;
              top: 5px;

              .princess-eye {
                width: 13px;
                height: 11px;
                border-radius: 50%;
                background-color: white;
                @include flex(center);

                .princess-iris {
                  width: 9px;
                  height: 7px;
                  border-radius: 50%;
                  background-color: #a1caf1;
                  @include flex(center);

                  .princess-pupil {
                    height: 2.5px;
                    width: 3.5px;
                    border-radius: 50%;
                    border: black solid 1.8px;
                  }
                }
              }
            }
            .princess-nose {
              height: 6px;
              width: 6px;
              @include flex(center);
              border-left: solid 0.5px;
              border-right: solid 0.5px;
              border-bottom: solid 0.5px;
              border-radius: 0% 0% 50% 50%;
              position: relative;
              top: 8px;
            }

            .princess-mouth {
              height: 20px;
              width: 18px;
              border-bottom: magenta 3px solid;
              border-radius: 35%;
              position: relative;
              bottom: 2px;
            }
          }

          .princess-hair-right {
            height: 5px;
            width: 21px;
            position: relative;
            right: 21px;
            z-index: 5;
            background-color: gold;
            border-radius: 0% 50% 0% 0%;
          }
        }

        .princess-body {
          @include flex(flex-start);
          position: relative;
          bottom: 25px;

          .princess-upper-neck {
            height: 5px;
            width: 20px;
            z-index: 5;
            border-radius: 50%;
            border-bottom: 1px black solid;
            position: relative;
            bottom: 49px;
          }
          .princess-neck {
            height: 15px;
            width: 20px;
            background-color: #eebb99;
            position: relative;
            bottom: 50px;
            border-radius: 30% 30% 50% 50%;
            z-index: 4;
          }

          .princess-dress {
            width: 40px;
            height: 100px;
            background-color: magenta;
            border-radius: 25% 25% 0% 0%;
            position: relative;
            bottom: 62px;
            z-index: 2;
            @include flex(flex-start);

            .princess-arm-left {
              height: 30px;
              width: 10px;
              background-image: linear-gradient(magenta 60%, #eebb99 60%);
              position: relative;
              right: 20px;
              transform: rotate(30deg);
              @include flex(flex-end);

              .princess-hand-left {
                width: 15px;
                height: 10px;
                background-color: purple;
                border-radius: 50%;
                position: relative;
                top: 10px;
                display: flex;
                justify-content: space-evenly;
                align-items: flex-end;

                .princess-finger-one {
                  height: 6px;
                  width: 4px;
                  background-color: purple;
                  position: relative;
                  top: 0px;
                  right: 4px;
                  transform: rotate(35deg);
                }

                .princess-finger-two {
                  height: 5px;
                  width: 3px;
                  background-color: purple;
                  position: relative;
                  top: 4px;
                  right: 4px;
                  transform: rotate(25deg);
                }

                .princess-finger-three {
                  height: 5px;
                  width: 3px;
                  background-color: purple;
                  position: relative;
                  top: 4px;
                  right: 3px;
                }

                .princess-finger-four {
                  height: 5px;
                  width: 3px;
                  background-color: purple;
                  position: relative;
                  top: 4px;
                  right: 1px;
                }

                .princess-finger-five {
                  height: 5px;
                  width: 3px;
                  background-color: purple;
                  position: relative;
                  top: 1px;
                  left: 2px;
                  transform: rotate(-25deg);
                }
              }
            }
            .princess-arm-right {
              height: 30px;
              width: 10px;
              background-image: linear-gradient(magenta 60%, #eebb99 60%);
              position: relative;
              left: 20px;
              bottom: 25px;
              transform: scaleX(-1) rotate(30deg);
              @include flex(flex-end);

              .princess-hand-left {
                width: 15px;
                height: 10px;
                background-color: purple;
                border-radius: 50%;
                position: relative;
                top: 10px;
                display: flex;
                justify-content: space-evenly;
                align-items: flex-end;

                .princess-finger-one {
                  height: 6px;
                  width: 4px;
                  background-color: purple;
                  position: relative;
                  top: 0px;
                  right: 3px;
                  transform: rotate(35deg);
                }

                .princess-finger-two {
                  height: 5px;
                  width: 3px;
                  background-color: purple;
                  position: relative;
                  top: 4px;
                  right: 4px;
                  transform: rotate(25deg);
                }

                .princess-finger-three {
                  height: 5px;
                  width: 3px;
                  background-color: purple;
                  position: relative;
                  top: 4px;
                  right: 3px;
                }

                .princess-finger-four {
                  height: 5px;
                  width: 3px;
                  background-color: purple;
                  position: relative;
                  top: 4px;
                  right: 1px;
                }

                .princess-finger-five {
                  height: 5px;
                  width: 3px;
                  background-color: purple;
                  position: relative;
                  top: 1px;
                  left: 2px;
                  transform: rotate(-25deg);
                }
              }
            }
          }

          .princess-legs {
            @include center(space-evenly);
            width: 50px;
            position: relative;
            bottom: 62px;

            .princess-leg-left {
              height: 30px;
              width: 9px;
              background-color: #eebb99;
              @include flex(flex-end);
              border-radius: 0% 0% 50% 50%;

              .princess-foot {
                height: 9px;
                width: 13px;
                background-color: purple;
                position: relative;
                z-index: 1;
                border-radius: 50% 50% 0% 0%;
              }
            }

            .princess-leg-right {
              height: 30px;
              width: 9px;
              background-color: #eebb99;
              @include flex(flex-end);
              border-radius: 0% 0% 50% 50%;

              .princess-foot {
                height: 9px;
                width: 13px;
                background-color: purple;
                position: relative;
                z-index: 1;
                border-radius: 50% 50% 0% 0%;
              }
            }
          }
        }
      }
    }
  }

  .tower-bottom {
    @include row(35vh);

    .tower-bottom-left {
      @include section(40vw);
    }

    .tower-bottom-middle {
      @include section(20vw);
    }

    .tower-bottom-right {
      @include section(40vw);
    }
  }
}

@keyframes weasel {
  0% {
    right: 10%;
  }
  50% {
    right: 30%;
  }
  100% {
    right: 10%;
  }
}
