@import "../mixins";

.houseThree-body {
  background-image: url("../../Images/Floor.png");
  background-size: 100% 100%;

  .houseThree-top {
    @include row(35vh);

    .houseThree-top-left {
      @include section(40vw);
      @include flex(center);

      .table {
        background-image: url("../../Images/TableOne.png");
        background-size: 100% 100%;
        height: 150px;
        width: 150px;
        display: flex;
        justify-content: center;

        .paper {
          background-image: url("../../Images/Scroll.jpg");
          background-size: 100% 100%;
          height: 75px;
          width: 75px;
        }
      }
    }

    .houseThree-top-middle {
      background-image: url("../../Images/StairsOne.png");
      background-size: 100% 100%;
      @include section(20vw);
      @include flex(center);
    }

    .houseThree-top-right {
      @include section(40vw);
      display: flex;
      justify-content: center;

      .cupboard {
        background-image: url("../../Images/Empty.png");
        background-size: 100% 100%;
        height: 150px;
        width: 200px;
      }
    }
  }

  .houseThree-middle {
    @include row(20vh);

    .houseThree-middle-left {
      @include section(40vw);
      display: flex;
    }

    .houseThree-middle-middle {
      @include section(20vw);
      @include flex(flex-end);

      .dog {
        background-image: url("../../Images/Dog.png");
        background-size: 100% 100%;
        height: 100px;
        width: 100px;
      }
    }

    .houseThree-middle-right {
      @include section(40vw);
      @include center(flex-end);
    }
  }
  .houseThree-bottom {
    @include row(35vh);

    .houseThree-bottom-left {
      @include section(40vw);
      @include flex(center);

      .rug {
        background-image: url("../../Images/Rug.png");
        background-size: 100% 100%;
        height: 250px;
        width: 150px;
      }
    }

    .houseThree-bottom-middle {
      @include section(20vw);
      @include flex(flex-end);

      .houseThree-town {
        @include flex(flex-start);
        cursor: pointer;
      }
    }

    .houseThree-bottom-right {
      @include section(40vw);
      @include flex(center);

      .shovel {
        background-image: url("../../Images/Shovel.png");
        background-size: 100% 100%;
        height: 100px;
        width: 150px;
      }
    }
  }
}

