@import "../mixins";

.clearing-body {
  background-image: url("../../Images/Grass.png");
  background-size: 100% 100%;

  .clearing-top {
    @include row(35vh);

    .clearing-top-left {
      @include section(40vw);
    }

    .clearing-top-middle {
      @include section(20vw);
      @include flex(flex-end);
    }

    .clearing-top-right {
      @include section(40vw);
    }
  }

  .clearing-middle {
    @include row(20vh);

    .clearing-middle-left {
      @include section(40vw);
    }

    .clearing-middle-middle {
      @include section(20vw);
      @include flex(center);
      background-image: url("../../Images/Dirt.png");
      background-size: 100% 100%;
      border-radius: 50% 50% 0% 0%;
    }

    .clearing-middle-right {
      @include section(40vw);
    }
  }

  .clearing-bottom {
    @include row(35vh);

    .clearing-bottom-left {
      @include section(40vw);
    }

    .clearing-bottom-middle {
      background-image: url("../../Images/Dirt.png");
      background-size: 100% 100%;
      @include section(20vw);
      @include flex(flex-end);

      .clearing-maze {
        @include flex(flex-start);
        cursor: pointer;
      }
    }

    .clearing-bottom-right {
      @include section(40vw);
    }
  }
}
