@import "../mixins";

.portfolio-main {
  text-align: center;
  background-color: rgb(46, 46, 46);

  height: 100vh;
  width: 100vw;
  overflow: hidden;
  @include flex(flex-start);

  .portfolio-introduction {
    @include center(space-evenly);
    background-color: rgb(46, 46, 46);
    height: 40vh;

    .title-div {
      width: 45%;
      @include flex(center);
      height: 90%;

      #main-title {
        height: 35%;
        @include flex(flex-end);
      }

      .portfolio-contact {
        @include flex(space-evenly);
        position: relative;
        width: 100%;
        height: 65%;

        .portfolio-contact-top {
          @include center(space-evenly);
          width: 100%;
        }

        .portfolio-contact-bottom {
          @include center(space-evenly);
          width: 100%;
        }
      }
    }
    .portfolio-description-div {
      width: 40%;
      @include center(center);
      border: solid white;
      height: 90%;

      .portfolio-picture-div {
        @include flex(center);
        width: 40%;
        

        .portfolio-picture {
          height: 250px;
          width: 200px;
          border-radius: 50%;
          background-image: url("../../Images/thumbnail.jpg");
          background-size: 100%;
          
        }
      }
      .about-me-div {
        width: 50%;
        text-align: center;

        #portfolio-description {
          font-size: 15px;
        }
      }
    }
  }

  .portfolio-projects-div {
    height: 50vh;
    width: 50vw;
    @include flex(space-evenly);

    .portfolio-projects {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      height: 45%;

      .project-link {
        @include flex(space-evenly);
        width: 225px;
        height: 100%;

        #disneyland {
          background-image: url("../../Images/Disneyland.png");
          background-size: 100% 100%;
          height: 225px;
          width: 225px;
          border-radius: 20%;
          position: relative;
        }

        #simpsons {
          background-image: url("../../Images/Simpsons.png");
          background-size: 100% 100%;
          height: 225px;
          width: 225px;
          border-radius: 20%;
          position: relative;
        }

        #css {
          background-image: url("../../Images/CSS.png");
          background-size: 100% 100%;
         height: 225px;
          width: 225px;
          border-radius: 20%;
          position: relative;
        }
      }
    }
    .melvins-div {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      height: 45%;

      .project-link {
          @include flex(space-evenly);
        width: 225px;
        height: 100%;

        #codepound {
          background-image: url("../../Images/Codepound.png");
          background-size: 100% 100%;
          height: 225px;
          width: 225px;
          border-radius: 20%;
          position: relative;
        }
        #melvins {
          background-image: url("../../Images/Castle.png");
          background-size: 100% 100%;
          height: 225px;
          width: 225px;
          border-radius: 20%;
          position: relative;
        }
      }
    }
  }

}
