@import "../mixins";

.houseTwo-middle-left {
  width: 40vw;
  height: 27.5vh;
  @include flex(center);
  position: absolute;
  top: 45vh;
  left: 0px;

  .houseTwo-paper {
      height: 50px;
      width: 40px;
      background-color: #FFFFCC;
      @include flex(center);
      cursor: pointer;
      transform: rotate(-30deg);

    .line {
        width: 10px;
        height: 10px;
        border-right: solid .5px;
        border-radius: 50%;

    }

    .line-two {
         width: 10px;
        height: 10px;
        border-left: solid .5px;
        border-radius: 50%;

    }
  }
  
}

.houseTwo-middle-middle {
  width: 20vw;
  height: 27.5vh;
  @include flex(flex-end);
  position: absolute;
  top: 45vh;
  left: 40vw;
  

 
}

.houseTwo-middle-right {
  width: 40vw;
  height: 27.5vh;
  @include center(flex-end);
  position: absolute;
  top: 45vh;
  left: 60vw;
}

.houseTwo-bottom-left {
  width: 40vw;
  height: 27.5vh;
  @include flex(center);
  top: 72.5vh;
  left: 0px;
  position: absolute;

  
}

.houseTwo-bottom-middle {
  width: 20vw;
  height: 27.5vh;
  @include flex(flex-end);
  top: 72.5vh;
  left: 40vw;
  position: absolute;

  .houseTwo-town {
    @include flex(flex-start);
    cursor: pointer;
  }
}

.houseTwo-bottom-right {
  width: 40vw;
  height: 27.5vh;
  @include flex(center);
  top: 72.5vh;
  left: 60vw;
  position: absolute;

  .fork {
    @include flex(flex-start);
    transform: rotate(45deg);
    cursor: pointer;

    .fork-top {
      display: flex;
      justify-content: space-between;
      width: 60px;
      position: relative;
      top: 4px;

      .tine-div {
        width: 8px;
        @include flex(flex-start);

        .tip {
          height: 7px;
          width: 7px;
          transform: rotate(45deg);
          background-color: gray;
          position: relative;
          top: 7px;
        }

        .tine {
          width: 5px;
          background-color: gray;
          height: 40px;
        }
      }
    }
 .fork-middle {
    background-color: gray;
    width: 56px;
    height: 10px;
    border-radius: 0% 0% 50% 50%;
    position: relative;
    top: 3px;
 } 
 
 .fork-handle {
   height: 120px;
width: 15px;
background-color: brown;
border: solid;
 }
  }

  
}