@import "../mixins";

  .glade-body {
    background-image: url("../../Images/Grass.png");
    background-size: 100% 100%;

    .glade-top {
      @include row(35vh);

      .glade-top-left {
        @include section(40vw);
      }

      .glade-top-middle {
        @include section(20vw);
       @include flex(flex-start);
        background-image: url("../../Images/Dirt.png");
        background-size: 100% 100%;

        .glade-maze {
          @include flex(flex-start);
          cursor: pointer;
        }
      }

      .glade-top-right {
        @include section(40vw);
      }
    }

    .glade-middle {
      @include row(20vh);
      position: relative;

      .glade-middle-left {
        @include section(40vw);
        @include center(flex-end);

        .unicorn {
          background-image: url("../../Images/Unicorn.gif");
          background-size: 100% 100%;
          height: 150px;
          width: 200px;
          cursor: pointer;
        }
      }

      .glade-middle-middle {
        background-image: url("../../Images/Dirt.png");
        background-size: 100% 100%;
        @include section(20vw);
      }

      .glade-middle-right {
        @include section(40vw);
        @include center(flex-end);
        background-image: url("../../Images/Dirt.png");
        background-size: 100% 100%;
       
        .glade-valley {
          @include center(flex-start);
          cursor: pointer;
        }
      }
    }

    .glade-bottom {
      @include row(35vh);
     
      .glade-bottom-left {
        @include section(40vw);
        position: relative;
      }

      .glade-bottom-middle {
        @include section(20vw);
        @include flex(flex-end);
      }

      .glade-bottom-right {
        @include section(40vw);
      }
    }
  }

