.pass-main {
  height: 100vh;
  width: 100vw;

  .pass-body {
    background-image: url("../../Images/Dirt.png");
    background-size: 100% 100%;

    .pass-top {
      height: 35vh;
      display: flex;
      width: 100vw;

      .pass-top-left {
        background-image: url("../../Images/Snow.png");
        height: 100%;
        width: 40%;
      }

      .pass-top-middle {
        height: 100%;
        width: 20%;

        .pass-mountain {
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
        }
      }

      .pass-top-right {
        background-image: url("../../Images/DeadGrass.png");
        background-size: 100% 100%;
        height: 100%;
        width: 40%;
      }

      .passs-top-right-closed {
        background-image: url("../../Images/Grass.png");
        background-size: 100% 100%;
        height: 100%;
        width: 40vw;
      }
    }

    .pass-middle {
      height: 20vh;
      display: flex;
      width: 100vw;

      .pass-middle-left {
        background-image: url("../../Images/Water.png");
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
      }

      .pass-middle-middle {
        width: 20%;
        height: 150%;
        background-image: url("../../Images//Ogre.png");
        background-size: 100% 100%;
        position: relative;
        bottom: 50%;
      }

      .pass-bottom-middle-closed {
        width: 20%;
        height: 100%;
        background-image: url("../../Images/Water.png");
      }

      .pass-middle-right {
        width: 40%;
        height: 100%;
      }

      .pass-middle-right-closed {
        background-image: url("../../Images//Water.png");
        background-size: 100% 100%;
        width: 40%;
        height: 100%;
      }
    }

    .pass-bottom {
      height: 35vh;
      display: flex;
      width: 100vw;

      .pass-bottom-left {
        background-image: url("../../Images/Snow.png");
        background-size: 100% 100%;
        height: 100%;
        width: 40%;
      }

      .pass-bottom-middle {
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        .pass-cabin {
          display: flex;
          flex-direction: column;
          align-items: center;
          
        }
      }

      .pass-bottom-right {
        background-image: url("../../Images/DeadGrass.png");
        height: 100%;
        width: 40%;
      }

      .pass-bottom-right-closed {
        background-image: url("../../Images/Grass.png");
        background-size: 100% 100%;
        height: 100%;
        width: 40%;
      }
    }
  }
}
