@import "../mixins";

.castle-body {
  .castle-top {
    @include row(35vh);
    background-color: black;
     background-image: linear-gradient(335deg, silver 23px, transparent 23px),
        linear-gradient(155deg, silver 23px, transparent 23px),
        linear-gradient(335deg, silver 23px, transparent 23px),
        linear-gradient(155deg, silver 23px, transparent 23px);
      background-size: 58px 58px;
      background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;

    .castle-top-left {
      @include section(40vw);
    }

    .castle-top-middle {
      @include section(20vw);
      @include flex(flex-start);
      background-color: sienna;

      .castle-handle {
        position: absolute;
        height: 50px;
        width: 50px;
        border-bottom: solid goldenrod 5px;
        border-left: solid goldenrod 5px;
        border-right: solid goldenrod 5px;
        border-radius: 10% 10% 50% 50%;
        left: 5px;
        top: 42%;
      }
     

      .castle-throne {
        @include flex(flex-start);
        cursor: pointer;
      }
    }
    .castle-top-right {
      @include section(40vw);
     
    }
  }

  .castle-middle {
    @include row(20vh);
    background-image: url("../../Images/Dirt.png");
    background-size: 100% 100%;

    .castle-middle-left {
      @include section(40vw);
      display: flex;

      .castle-garden {
        @include center(flex-start);
        cursor: pointer;
      }
    }

    .castle-middle-middle {
      @include section(20vw);
      @include flex(flex-end);


      .druid {
        @include flex(center);
        position: relative;
        cursor: pointer;
        bottom: 100px;

        .druid-hat {
          border-radius: 50% 50% 25% 25%;
          height: 50px;
          width: 50px;
          border-top: steelblue 20px solid;
          border-bottom: steelblue 20px solid;
          border-left: solid steelblue 10px;
          border-right: solid steelblue 10px;
          position: relative;
          z-index: 3;
          top: 2px;
        }

        .druid-head {
          display: flex;
          justify-content: center;
          position: relative;
          bottom: 42px;

          .druid-face {
            height: 42px;
            width: 42px;
            background-color: #ffdbac;
            border-radius: 50%;
            @include flex(center);
            border-bottom: black solid 1px;

            .druid-eyes {
              width: 80%;
              @include center(space-evenly);
              position: relative;
              bottom: 2px;

              .druid-eye {
                width: 12px;
                height: 10px;
                border-radius: 50%;
                background-color: white;
                @include flex(center);

                .druid-iris {
                  width: 5.5px;
                  height: 5.5px;
                  border-radius: 50%;
                  background-color: black;
                  @include flex(center);
                }
              }
            }
          }
        }

        .druid-body {
          @include flex(flex-start);
          position: relative;
          bottom: 38px;

          .druid-armor {
            width: 80px;
            height: 100px;
            background-color: steelblue;
            border-radius: 25% 25% 0% 0%;
            position: relative;
            bottom: 2px;
            z-index: 2;
            @include flex(flex-start);

            .druid-left-arm {
              height: 50px;
              width: 30px;
              background-color: steelblue;
              @include flex(flex-end);
              position: relative;
              right: 60px;
              bottom: 5px;
              transform: rotate(90deg);
              border-bottom: solid;
              border-radius: 0% 0% 25% 25%;

              .driud-sword-div {
                @include flex(center);
                transform: rotate(-90deg);
                position: relative;
                top: 113px;
                right: 70px;

                .druid-sword-tip {
                  height: 19px;
                  width: 19px;
                  background-color: gray;
                  position: relative;
                  transform: rotate(-45deg);
                  z-index: 1;
                  top: 45px;
                }

                .druid-sword-blade {
                  height: 80px;
                  width: 25px;
                  background-color: gray;
                  position: relative;
                  top: 37px;
                }
                .druid-sword-hilt {
                  height: 40px;
                  width: 40px;
                  border-bottom: solid goldenrod 5px;
                  position: relative;
                }

                .druid-sword-handle {
                  width: 10px;
                  height: 75px;
                  background-color: chocolate;
                  @include flex(center);

                  .druid-hand {
                    height: 20px;
                    width: 40px;
                    border-radius: 25%;
                    background-color: steelblue;
                    z-index: 2;
                    transform: rotate(90deg);
                    @include center(space-evenly);
                    

                    .druid-finger {
                      width: 2px;
                      height: 100%;
                      background-color: black;
                    }
                  }
                }
              }
            }
            .druid-right-arm {
              height: 70px;
              width: 30px;
              background-color: steelblue;
              @include flex(flex-end);
              position: relative;
              left: 50px;
              bottom: 41px;
              transform: rotate(-60deg);
              .druid-hand {
                 height: 20px;
                    width: 40px;
                    border-radius: 25%;
                    background-color: steelblue;
                    z-index: 2;
                    
                    
              
              }
            }
          }
        

        .druid-legs {
          @include center(space-between);
          width: 90%;
          position: relative;
          bottom: 2px;
          z-index: 10;

          .druid-leg-left {
             height: 70px;
              width: 30px;
              background-color: steelblue;
              @include flex(flex-end);

            .druid-foot {
              height: 20px;
              width: 120%;
              background-color: steelblue;
              position: relative;
              z-index: 1;
              border-radius: 5% 5% 0% 0%;
            }
          }

          .druid-leg-right {
             height: 70px;
              width: 30px;
              background-color: steelblue;
              @include flex(flex-end);
              

            .druid-foot {
             height: 20px;
              width: 120%;
              background-color: steelblue;
              position: relative;
              z-index: 1;
              border-radius: 5% 5% 0% 0%;
            }
          }
        }
      }
    }
  }

    .castle-middle-right {
      @include section(40vw);
      @include center(flex-end);

      .castle-tower {
        @include center(space-evenly);
        width: 120px;
        cursor: pointer;
      }
    }
  }
  .castle-bottom {
    @include row(35vh);

    .castle-bottom-left {
      background-image: url("../../Images/Grass.png");
      background-size: 100% 100%;
      @include section(40vw);
    }

    .castle-bottom-middle {
      background-image: url("../../Images/Dirt.png");
      background-size: 100% 100%;
      @include section(20vw);
      @include flex(flex-end);

      .castle-town {
        @include flex(flex-start);
        cursor: pointer;
      }
    }

    .castle-bottom-right {
      background-image: url("../../Images/Grass.png");
      background-size: 100% 100%;
      @include section(40vw);
    }
  }
}
