@import "../mixins";

  .garden-body {

    .garden-top {
      @include row(35vh);
      background-image: url("../../Images/Garden.jpg");
      background-size: 100% 100%;
      cursor: pointer;
    }

    .garden-middle {
      @include row(20vh);
      background-image: url("../../Images/Dirt.png");
      background-size: 100% 100%;
      border-left: solid pink 20px;

      .garden-middle-left {
        @include section(10vw);
      }

      .garden-middle-middle {
        @include section(50vw);
        @include flex(center);

        .garden-fairy {
          height: 150px;
          width: 100px;
          cursor: pointer;
        }
      }

      .garden-middle-right {
        @include section(40vw);
        @include center(flex-end);

        .garden-castle {
          @include center(space-evenly);
          width: 110px;
          cursor: pointer;
        }
      }
    }

    .garden-bottom {
      @include row(35vh);
      background-image: url("../../Images/Garden.jpg");
      background-size: 100% 100%;
      cursor: pointer;
    }
  }
   