.garden-main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;

  .garden-body {
    .garden-top {
      height: 35vh;
      display: flex;
      width: 100vw;
      background-image: url("../../Images/Garden.jpg");
      background-size: 100% 100%;
      cursor: pointer;
    }

    .garden-middle {
      height: 20vh;
      display: flex;
      width: 100vw;
      background-image: url("../../Images/Dirt.png");
      background-size: 100% 100%;
      border-left: solid pink 20px;

      .garden-middle-left {
        width: 10%;
        height: 100%;
      }

      .garden-middle-middle {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .garden-fairy {
          height: 150px;
          width: 100px;

          cursor: pointer;
        }
      }

      .garden-middle-right {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .garden-castle {
          display: flex;
          width: 110px;
          justify-content: space-evenly;
          align-items: center;
          cursor: pointer;
          position: relative;
        }
      }
    }

    .garden-bottom {
      height: 35vh;
      display: flex;
      width: 100vw;
      background-image: url("../../Images/Garden.jpg");
      background-size: 100% 100%;
      cursor: pointer;
    }
  }
   .garden-card {
      height: 500px;
      width: 500px;
    background-color: white;
    border: solid black 2px;
    box-shadow: 2px 2px 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    text-align: center;

    .garden-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        color: tomato;
    }

    .garden-card-description {
        width: 90%;
    }
  }

  .garden-card-closed {
    display: none;
  }
  .answer-card {
      height: 400px;
      width: 400px;
    background-color: white;
    border: solid black 2px;
    box-shadow: 2px 2px 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    text-align: center;

    

    .answer-card-description {
        width: 90%;
    }
  }

  .answer-card-closed {
    display: none;
  }
}
