@import "../mixins";

.nest-body {
  background-image: url("../../Images/Snow.png");
  background-size: 100% 100%;

  .nest-top {
    @include row(35vh);

    .nest-top-left {
      .griffin-open {
        background-image: url("../../Images/griffin.gif");
        width: 200px;
        height: 200px;
        background-size: 100% 100%;
        animation-name: swoop;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-direction: normal;
        position: relative;
        z-index: 1;
      }
      .griffin-closed {
        display: none;
      }
    }
  }

  .nest-middle {
    background-image: url("../../Images/Dirt.png");
    background-size: 100% 100%;
    @include row(20vh);
    display: flex;
    position: relative;

    .nest-middle-left {
      background-image: url("../../Images/Snow.png");
      @include section(40vw);
      @include center(center);
      background-size: 100% 100%;

      .nest-twig-div {
        border: solid 10px sienna;
        width: 90%;
        height: 90%;
        border-radius: 50%;
        position: relative;
        @include center(space-evenly);
        background-color: sienna;

        .nest-twig-horizontal {
          @include flex(space-evenly);
          position: absolute;
          height: 100%;
          width: 100%;

          .nest-twig-one {
            width: 76%;
            height: 7%;
            background-color: chocolate;
            border-radius: 50% 50% 0% 0%;
            border: solid 0.5px;
          }
          .nest-twig-two {
            width: 94%;
            height: 7%;
            background-color: chocolate;
            border-radius: 50% 50% 0% 0%;
            border: solid 0.5px;
          }
          .nest-twig-three {
            width: 103%;
            height: 7%;
            background-color: chocolate;
            border-radius: 50% 50% 0% 0%;
            border: solid 0.5px;
          }
          .nest-twig-four {
            width: 110%;
            height: 7%;
            background-color: chocolate;
            border-radius: 50% 50% 0% 0%;
            border: solid 0.5px;
          }
          .nest-twig-five {
            width: 110%;
            height: 7%;
            background-color: chocolate;
            border: solid 0.5px;
          }
          .nest-twig-six {
            width: 110%;
            height: 7%;
            background-color: chocolate;
            border: solid 0.5px;
          }
          .nest-twig-seven {
            width: 110%;
            height: 7%;
            background-color: chocolate;
            border-radius: 0% 0% 50% 50%;
            border: solid 0.5px;
          }
          .nest-twig-eight {
            width: 103%;
            height: 7%;
            background-color: chocolate;
            border-radius: 0% 0% 50% 50%;
            border: solid 0.5px;
          }
          .nest-twig-nine {
            width: 93%;
            height: 7%;
            background-color: chocolate;
            border-radius: 0% 0% 50% 50%;
            border: solid 0.5px;
          }
          .nest-twig-ten {
            width: 71%;
            height: 7%;
            background-color: chocolate;
            border-radius: 0% 0% 50% 50%;
            border: solid 0.5px;
          }
        }
        .nest-twig-vertical {
          @include center(space-evenly);
          position: absolute;
          height: 100%;
          width: 100%;

          .nest-twig-eleven {
            background-color: chocolate;
            width: 1%;
            height: 79%;
            border: solid 0.5px;
          }
          .nest-twig-twelve {
            background-color: chocolate;
            width: 1%;
            height: 99%;
            border: solid .5px;
          }
          .nest-twig-thirteen {
            background-color: chocolate;
            width: 1%;
            height: 110%;
            border: solid .5px;
          }
          .nest-twig-fourteen {
            background-color: chocolate;
            width: 1%;
            height: 110%;
            border: solid .5px;
          }
          .nest-twig-fifteen {
            background-color: chocolate;
            width: 1%;
            height: 110%;
            border: solid .5px;
          }
          .nest-twig-sixteen {
            background-color: chocolate;
            width: 1%;
            height: 110%;
            border: solid .5px;
          }
          .nest-twig-seventeen {
            background-color: chocolate;
            width: 1%;
            height: 110%;
            border: solid .5px;
          }
          .nest-twig-eighteen {
            background-color: chocolate;
            width: 1%;
            height: 110%;
            border: solid .5px;
          }
          .nest-twig-nineteen {
            background-color: chocolate;
            width: 1%;
            height: 99%;
            border: solid .5px;
          }
          .nest-twig-twenty {
            background-color: chocolate;
            width: 1%;
            height: 79%;
            border: solid .5px;
          }
        }
        .nest-twig-diagonal {
          @include center(space-evenly);
          position: absolute;
          height: 100%;
          width: 100%;

          .nest-twig-eleven {
            background-color: chocolate;
            width: 1%;
            height: 97%;
            transform: rotate(45deg);
            position: relative;
            bottom: 11%;
            border: solid .5px;
          }
          .nest-twig-twelve {
            background-color: chocolate;
            width: 1%;
            height: 130%;
            transform: rotate(45deg);
            position: relative;
            bottom: 5%;
            border: solid .5px;
          }
          .nest-twig-thirteen {
            background-color: chocolate;
            width: 1%;
            height: 150%;
            transform: rotate(45deg);
            position: relative;
            bottom: 5%;
            border: solid .5px;
          }
          .nest-twig-fourteen {
            background-color: chocolate;
            width: 1%;
            height: 160%;
            transform: rotate(45deg);
            position: relative;
            bottom: 5%;
            border: solid .5px;
          }
          .nest-twig-fifteen {
            background-color: chocolate;
            width: 1%;
            height: 165%;
            transform: rotate(45deg);
            position: relative;
            bottom: 3%;
            border: solid .5px;
          }
          .nest-twig-sixteen {
            background-color: chocolate;
            width: 1%;
            height: 168%;
            transform: rotate(45deg);
            border: solid .5px;
          }
          .nest-twig-seventeen {
            background-color: chocolate;
            width: 1%;
            height: 165%;
            transform: rotate(45deg);
            position: relative;
            top: 2%;
            border: solid .5px;
          }
          .nest-twig-eighteen {
            background-color: chocolate;
            width: 1%;
            height: 150%;
            transform: rotate(45deg);
            position: relative;
            top: 5%;
            border: solid .5px;
          }
          .nest-twig-nineteen {
            background-color: chocolate;
            width: 1%;
            height: 135%;
            transform: rotate(45deg);
            position: relative;
            top: 7%;
            border: solid .5px;
          }
          .nest-twig-twenty {
            background-color: chocolate;
            width: 1%;
            height: 104%;
            transform: rotate(45deg);
            position: relative;
            top: 9%;
            border: solid .5px;
          }
        }
        .nest-twig-diagonal-two {
          @include center(space-evenly);
          position: absolute;
          height: 100%;
          width: 100%;
          border-radius: 50%;
          transform: scaleX(-1);
          border: solid black 4px;

          .nest-twig-eleven {
            background-color: chocolate;
            width: 1%;
            height: 97%;
            transform: rotate(45deg);
            position: relative;
            bottom: 8%;
            border-radius: 50% 0% 0% 0%;
            border: solid .5px;
          }
          .nest-twig-twelve {
            background-color: chocolate;
            width: 1%;
            height: 128%;
            transform: rotate(45deg);
            position: relative;
            bottom: 7%;
            border-radius: 50% 0% 0% 0%;
            border: solid .5px;
          }
          .nest-twig-thirteen {
            background-color: chocolate;
            width: 1%;
            height: 143%;
            transform: rotate(45deg);
            position: relative;
            bottom: 6%;
            border-radius: 50% 0% 0% 0%;
            border: solid .5px;
          }
          .nest-twig-fourteen {
            background-color: chocolate;
            width: 1%;
            height: 153%;
            transform: rotate(45deg);
            position: relative;
            bottom: 3%;
            border-radius: 50% 0% 0% 0%;
            border: solid .5px;
          }
          .nest-twig-fifteen {
            background-color: chocolate;
            width: 1%;
            height: 155%;
            transform: rotate(45deg);
            position: relative;
            bottom: 1%;
            border-radius: 50% 0% 0% 0%;
            border: solid .5px;
          }
          .nest-twig-sixteen {
            background-color: chocolate;
            width: 1%;
            height: 155%;
            transform: rotate(45deg);
            border-radius: 50% 0% 0% 0%;
            border: solid .5px;
          }
          .nest-twig-seventeen {
            background-color: chocolate;
            width: 1%;
            height: 152%;
            transform: rotate(45deg);
            position: relative;
            top: 2%;
            border-radius: 50% 0% 0% 0%;
            border: solid .5px;
          }
          .nest-twig-eighteen {
            background-color: chocolate;
            width: 1%;
            height: 142%;
            transform: rotate(45deg);
            position: relative;
            top: 3%;
            border-radius: 50% 0% 0% 0%;
            border: solid .5px;
          }
          .nest-twig-nineteen {
            background-color: chocolate;
            width: 1%;
            height: 129%;
            transform: rotate(45deg);
            position: relative;
            top: 6%;
            border-radius: 50% 0% 50% 0%;
            border: solid .5px;
          }
          .nest-twig-twenty {
            background-color: chocolate;
            width: 1%;
            height: 98%;
            transform: rotate(45deg);
            position: relative;
            top: 8%;
            border-radius: 50% 0% 50% 0%;
            border: solid .5px;
          }
        }
      }

      .coin-div {
        width: 33%;
        @include center(center);
        position: absolute;
        left: 0px;

        .nest-coin {
          background-color: gold;
          border-radius: 50%;
          height: 10px;
          width: 10px;
          cursor: pointer;
        }

        .nest-coin-closed {
          display: none;
        }
      }

      .ribbon-div {
        width: 33%;
        @include center(center);
        position: absolute;
        left: 33%;

        .nest-ribbon {
          width: 70px;
          height: 28px;
          border-top: solid aqua 7px;
          border-left: solid aqua 7px;
           border-right: solid aqua 7px;
          cursor: pointer;
          border-radius: 50% 15% 30% 0%;
        }

        .nest-ribbon-closed {
          display: none;
        }
      }

      .feather-div {
        width: 33%;
        @include center(flex-start);
        position: absolute;
        right: 0px;

        .nest-feather {
          width: 100%;
          @include flex(center);
          position: relative;
          right: 20px;
          cursor: pointer;
         
          .feather-main {
            height: 60px;
            width: 25px;
            border-radius: 50%;
            border: solid;
            background-color: goldenrod;
            @include center(space-evenly);

            .feather-left {
              width: 49%;
              height: 100%;
              @include flex(space-evenly);

              .feather-line {
                width: 100%;
                height: 2px;
                background-color: black;
                transform: rotate(15deg);
              }
            }
            .feather-middle {
              height: 100%;
              width: 2px;
              background-color: black;
            }
             .feather-right {
              width: 49%;
              height: 100%;
              @include flex(space-evenly);

              .feather-line {
                width: 100%;
                height: 2px;
                background-color: black;
                transform: rotate(-15deg);
              }
            }
          }
          .feather-bottom {
            height: 10px;
            width: 5px;
            background-color: black;
          }
        }

        .nest-feather-closed {
          display: none;
        }
      }
    }

    .nest-middle-middle {
      @include section(20vw);
    }

    .nest-middle-right {
      @include section(40vw);
      @include center(flex-end);

      .nest-mountains {
        @include center(space-evenly);
        cursor: pointer;
      }
    }
  }

  .nest-bottom {
    @include row(35vh);

    .nest-bottom-left {
      @include section(40vw);
    }

    .nest-bottom-middle {
      @include section(20vw);
      @include flex(flex-end);
    }

    .nest-bottom-right {
      @include section(40vw);
    }
  }
}

@keyframes swoop {
  0% {
    left: -20vw;
    top: -20vh;
  }

  50% {
    left: 55vw;
    top: 25vh;
  }

  100% {
    left: -20vw;
    top: -20vh;
  }
}
