@import "../mixins";

.houseOne-body {
  background-image: url("../../Images/Floor.png");
  background-size: 100% 100%;

  .houseOne-top {
    @include row(35vh);

    .houseOne-top-left {
      @include section(40vw);
      @include flex(center);

      .table {
        background-image: url("../../Images/TableOne.png");
        background-size: 100% 100%;
        height: 150px;
        width: 150px;
        display: flex;
        justify-content: center;

        .paper {
          background-image: url("../../Images/Scroll.jpg");
          background-size: 100% 100%;
          height: 75px;
          width: 75px;
        }
      }
    }

    .houseOne-top-middle {
      background-image: url("../../Images/StairsOne.png");
      background-size: 100% 100%;
      @include section(20vw);
      @include flex(center);
    }

    .houseOne-top-right {
      @include section(40vw);
      display: flex;
      justify-content: center;

      .cupboard {
        background-image: url("../../Images/Empty.png");
        background-size: 100% 100%;
        height: 150px;
        width: 200px;
      }
    }
  }

  .houseOne-middle {
    @include row(20vh);

    .houseOne-middle-left {
      @include section(40vw);
      display: flex;
    }

    .houseOne-middle-middle {
      @include section(20vw);
      @include flex(flex-end);

      .dog {
        background-image: url("../../Images/Dog.png");
        background-size: 100% 100%;
        height: 100px;
        width: 100px;
      }
    }

    .houseOne-middle-right {
      @include section(40vw);
      @include center(flex-end);
    }
  }
  .houseOne-bottom {
    @include row(35vh);

    .houseOne-bottom-left {
      @include section(40vw);
      @include flex(center);

      .rug {
        background-image: url("../../Images/Rug.png");
        background-size: 100% 100%;
        height: 250px;
        width: 150px;
      }
    }

    .houseOne-bottom-middle {
      @include section(20vw);
      @include flex(flex-end);

      .houseOne-town {
        @include flex(flex-start);
        cursor: pointer;
      }
    }

    .houseOne-bottom-right {
      @include section(40vw);
      @include flex(center);

      .shovel {
        background-image: url("../../Images/Shovel.png");
        background-size: 100% 100%;
        height: 100px;
        width: 150px;
      }
    }
  }
}

