@import "../mixins";

.stables-body {
  .stables-top {
    @include row(35vh);
    background-image: url("../../Images/Grass.png");
    background-size: 100% 100%;

    .stables-top-left {
      @include section(40vw);
      @include flex(center);

      .stables-horse {
        height: 200px;
        width: 200px;
        background-color: green;
        cursor: pointer;
      }
    }

    .stables-top-middle {
      @include section(20vw);
      @include center(center);

      .stables-cowboy {
        height: 150px;
        width: 100px;
        cursor: pointer;
      }
    }

    .stables-top-right {
      @include section(40vw);
      @include flex(center);

      .stables-stables {
        height: 250px;
        width: 250px;
        background-color: green;
      }
    }
  }

  .stables-middle {
    @include row(20vh);
    background-image: url("../../Images/Dirt.png");
    background-size: 100% 100%;

    .stables-middle-left {
      @include section(40vw);
      @include center(flex-start);

      .stables-valley {
        @include center(space-evenly);
        width: 110px;
        cursor: pointer;
      }
    }

    .stables-middle-middle {
      @include section(20vw);
    }

    .stables-middle-right {
      @include section(40vw);
      @include center(flex-end);

      .stables-stables {
        @include center(space-evenly);
        width: 100px;
        cursor: pointer;
      }
    }
  }

  .stables-bottom {
    @include row(35vh);
    background-image: url("../../Images/Grass.png");
    background-size: 100% 100%;

    .stables-bottom-left {
      @include section(40vw);

      .manure-piles {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        cursor: pointer;

        .manure-top {
          @include center(space-evenly);

          .manure {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: brown;
          }
        }

        .manure-middle {
          @include center(space-evenly);

          .manure {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: brown;
          }
        }

        .manure-bottom {
          @include center(space-evenly);

          .manure {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: brown;
          }
        }
      }
    }

    .stables-bottom-middle {
      @include section(20vw);
    }

    .stables-bottom-right {
      @include section(40vw);
      @include center(center);

      .manure-mound {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: brown;
        cursor: pointer;
      }
    }
  }
}
