@import "../mixins";

.market-body {
  .market-top {
    @include row(35vh);
    background-image: url("../../Images/Market.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .market-middle {
    @include row(20vh);
    background-image: url("../../Images//Dirt.png");
    background-size: 100% 100%;

    .market-middle-left {
      @include section(40vw);
      @include center(flex-start);

      .market-town {
        @include center(flex-start);
        cursor: pointer;
      }
    }

    .market-middle-middle {
      @include section(20vw);
    }

    .market-middle-right {
      @include section(40vw);
      @include center(flex-end);

      .market-alley {
        @include center(space-evenly);
        cursor: pointer;
        width: 100px;
      }
    }
  }

  .market-bottom {
    @include row(35vh);
    @include center(space-evenly);
    background-image: url("../../Images/Grass.png");
    background-size: 100% 100%;

    .blacksmith-div {
      @include flex(flex-start);
      cursor: pointer;

      .market-blacksmith {
        height: 200px;
        width: 200px;
      }
    }

    .magic-store-div {
      cursor: pointer;
      @include flex(flex-start);

      .market-magic {
        height: 200px;
        width: 200px;
      }
    }

    .grocer-div {
      cursor: pointer;
      @include flex(flex-start);

      .market-grocer {
        height: 200px;
        width: 200px;
      }
    }

    .store-div {
      cursor: pointer;
      @include flex(flex-start);

      .market-store {
        height: 200px;
        width: 200px;
      }
    }
  }
}
