.dashboard-main {

height: 100vh;
width: 100vw;

.dashboard-body {

    .dashboard-top {
height: 35vh;
display: flex;
width: 100vw;

        .dashboard-top-left {

        }

        .dashboard-top-middle {

        }

        .dashboard-top-right {

        }
    }

    .dashboard-middle {
height: 20vh;
background-color: brown;
width: 100vw;

.dashboard-middle-left {

}

.dashboard-middle-middle {

}    

.dashboard-middle-right {

}

}

    .dashboard-bottom {
height: 35vh;
background-color: green;
width: 100vw;

.dashboard-bottom-left {

}

.dashboard-bottom-middle {

}

.dashboard-bottom-right {

}

    }
}


}