@import "../mixins";

.dashboard-body {
  .dashboard-top {
    @include row(35vh);

    .dashboard-top-left {
      background-image: url("../../Images/Grass.png");
      background-size: 100% 100%;
      @include section(40vw);
    }

    .dashboard-top-middle {
      background-image: url("../../Images/Dirt.png");
      background-size: 100% 100%;
      @include section(20vw);
      @include flex(flex-start);

      .dashboard-town {
        @include flex(flex-start);
        cursor: pointer;
      }
    }

    .dashboard-top-right {
      background-image: url("../../Images/Grass.png");
      background-size: 100% 100%;
      @include section(40vw);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      padding: 50px;

      .dashboard-old-man {
        @include flex(center);
        cursor: pointer;
        .dashboard-old-man-hat {
          @include flex(center);
          position: relative;
          top: 20px;
          z-index: 2;
          .dashboard-old-man-hat-top {
            height: 50px;
            width: 50px;
            background-image: linear-gradient(tan 50%, transparent 50%);
            border-radius: 50%;
            position: relative;
            top: 25px;
          }
          .dashboard-old-man-hat-bottom {
            width: 75px;
            height: 1px;
            background-color: tan;
          }
        }
        .dashboard-old-man-head {
          @include center(center);

          .dashboard-old-man-hair-left {
            height: 10px;
            width: 5px;
            background-color: snow;
            position: relative;
            left: 4px;
            bottom: 5px;
            z-index: 1;
          }
          .dashboard-old-man-face {
            height: 60px;
            width: 40px;
            border-radius: 50%;
            background-color: peachpuff;
            @include flex(space-evenly);

            .dashboard-old-man-eyes {
              @include center(space-evenly);
              width: 100%;
              position: relative;
              top: 10px;

              .dashboard-old-man-eye {
                height: 10px;
                width: 12px;
                background-color: white;
                border-radius: 50%;
                @include flex(center);

                .dashboard-old-man-iris {
                  height: 6px;
                  width: 6px;
                  background-color: aqua;
                  border-radius: 50%;
                  @include flex(center);

                  .dashboard-old-man-pupil {
                    height: 2.5px;
                    width: 2.5px;
                    background-color: black;
                    border-radius: 50%;
                  }
                }
              }
            }

            .dashboard-old-man-nose-div {
              @include center(space-between);
              position: relative;
              top: 2px;
              width: 100%;

              .dashboard-old-man-left-ear {
                border: solid 0.5px;
                border-right: none;
                background-color: peachpuff;
                height: 10px;
                width: 5px;
                border-radius: 50%;
                position: relative;
                right: 3px;
                transform: rotate(-5deg);
              }

              .dashboard-old-man-nose {
                border: solid 0.5px;
                border-top: none;
                width: 6px;
                height: 8px;
                border-radius: 25% 25% 50% 50%;
              }
              .dashboard-old-man-right-ear {
                border: solid 0.5px;
                border-left: none;
                background-color: peachpuff;
                height: 10px;
                width: 5px;
                border-radius: 50%;
                position: relative;
                left: 3px;
                transform: rotate(5deg);
              }
            }

            .dashboard-old-man-mouth {
              width: 17px;
              height: 1px;
              background-color: rgb(209, 96, 96);
              position: relative;
              bottom: 2px;
              border-radius: 50%;
            }
          }
          .dashboard-old-man-hair-right {
            height: 10px;
            width: 5px;
            background-color: snow;
            position: relative;
            right: 4px;
            bottom: 5px;
          }
        }
        .dashboard-old-man-neck {
          width: 15px;
          height: 5px;
          background-color: peachpuff;
          position: relative;
          bottom: 3px;
        }
        .dashboard-old-man-shirt {
          height: 60px;
          width: 40px;
          background-color: teal;
          position: relative;
          bottom: 4px;
          border-radius: 40% 40% 0% 0%;
          @include center(space-between);

          .dashboard-old-man-left-arm {
            background-image: linear-gradient(teal 80%, peachpuff 80%);
            width: 10px;
            height: 50px;
            transform: rotate(30deg);
            position: relative;
            right: 8px;
            @include flex(flex-end);

            .dashboard-old-man-hand {
              width: 15px;
              height: 10px;
              border-radius: 25%;
              @include center(space-evenly);
              align-items: flex-end;
              background-color: peachpuff;
              position: relative;
              top: 5px;

              .dashboard-old-man-finger-line {
                height: 50%;
                width: 0.5px;
                background-color: black;
              }
            }
          }
          .dashboard-old-man-right-arm {
            background-image: linear-gradient(teal 80%, peachpuff 80%);
            width: 10px;
            height: 50px;
            transform: rotate(-30deg);
            position: relative;
            left: 8px;
            @include flex(flex-end);

            .dashboard-old-man-hand {
              width: 15px;
              height: 10px;
              @include center(space-evenly);
              align-items: flex-end;
              background-color: peachpuff;
              position: relative;
              top: 5px;
              border-radius: 25%;

              .dashboard-old-man-finger-line {
                height: 50%;
                width: 0.5px;

                background-color: black;
              }
            }
          }
        }
        .dashboard-old-man-pants {
          background-color: sienna;
          height: 20px;
          width: 40px;
          position: relative;
          bottom: 5px;
        }
        .dashboard-old-man-leg-div {
          width: 40px;
          @include center(space-between);
          position: relative;
          bottom: 5px;

          .dashboard-old-man-leg {
            height: 45px;
            width: 15px;
            background-color: sienna;
            @include flex(flex-end);

            .dashboard-old-man-shoe {
              width: 20px;
              height: 10px;
              background-color: black;
              border-radius: 25% 25% 0% 0%;
            }
          }
        }
      }
    }
  }

  .dashboard-middle {
    @include row(20vh);
    background-image: url("../../Images/Dirt.png");
    background-size: 100% 100%;

    .dashboard-middle-left {
      @include section(40vw);
      @include center(flex-start);

      .dashboard-mountains {
        @include center(space-evenly);
        width: 150px;
        cursor: pointer;
      }
    }

    .dashboard-middle-middle {
      @include section(20vw);
      @include flex(center);

      .burned-house {
        background-color: black;
        background-image: radial-gradient(
            red,
            rgba(255, 0, 0, 0.2) 2px,
            transparent 40px
          ),
          radial-gradient(red, rgba(255, 0, 0, 0.15) 1px, transparent 30px),
          radial-gradient(red, rgba(255, 0, 0, 0.1) 2px, transparent 40px),
          radial-gradient(
            rgba(255, 0, 0, 0.4),
            rgba(255, 0, 0, 0.1) 2px,
            transparent 30px
          );
        background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

        @include section(20vw);
        border-radius: 25%;
      }

      .burned-house-closed {
        display: none;
      }

      .house {
        width: 200px;
        display: flex;
        position: relative;

        .cabin-left {
          width: 25px;
          height: 125px;
          background-color: sienna;
          transform: rotate(50deg);
          position: relative;
          left: 50px;
          bottom: 45px;
          z-index: 1;
        }

        .cabin-cottage-middle {
          position: relative;
          width: 150px;
          @include flex(flex-start);

          .cabin-chimney-div {
            position: absolute;
            top: -85px;
            left: 115px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .cabin-smoke {
              border-radius: 50%;
              border-left: solid gray 7px;
              height: 25px;
              width: 25px;
              position: relative;
              left: 9px;
            }

            .cabin-smoke-middle {
              border-radius: 50%;
              border-right: solid gray 7px;
              height: 25px;
              width: 25px;
            }

            .cabin-chimney {
              background-color: sienna;
              height: 50px;
              width: 25px;
              border-radius: 0% 0% 0% 50%;
            }
          }

          .cabin-short-log {
            background-color: sienna;
            width: 50px;
            height: 20px;
            border: solid;
          }
          .cabin-medium-log {
            background-color: sienna;
            width: 75px;
            height: 20px;
            border: solid;
          }

          .cabin-window-div {
            width: 150px;
            height: 40px;
            display: flex;
            .cabin-window-div-side {
              width: 50px;
              height: 40px;
            }
            .cabin-window {
              width: 50px;
              height: 40px;

              .cabin-window-row {
                display: flex;
                width: 100%;
                height: 18px;
                .cabin-window-pane {
                  height: 100%;
                  width: 23px;
                  background-color: white;
                }
                .cabin-window-line {
                  height: 100%;
                  width: 4px;
                  background-color: gray;
                }
              }
              .cabin-window-middle {
                width: 50px;
                height: 4px;
                background-color: gray;
              }
            }
          }

          .cabin-long-log {
            height: 20px;
            width: 150px;
            background-color: sienna;
            border: solid;
          }

          .cabin-door-div {
            display: flex;
            height: 60px;
            width: 150px;
            .cabin-door-div-side {
              height: 60px;
              width: 50px;
            }
            .cabin-door {
              height: 60px;
              width: 50px;
              background-color: sienna;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              border: solid;

              .cabin-door-knob {
                background-color: black;
                border-radius: 50%;
                position: relative;
                left: 5px;
                height: 10px;
                width: 10px;
              }
              .cabin-lock-div {
                @include flex(center);
                height: 10px;
                width: 10px;
                left: 5px;

                .cabin-lock-top {
                  background-color: black;
                  border-radius: 50%;
                  height: 3px;
                  width: 3px;
                }

                .cabin-lock-bottom {
                  background-color: black;
                  height: 4px;
                  width: 1px;
                  position: relative;
                  bottom: 2px;
                }
              }
            }
          }
        }
        .cabin-right {
          width: 25px;
          height: 125px;
          background-color: sienna;
          transform: rotate(-48deg);
          position: relative;
          right: 50px;
          bottom: 45px;
        }
      }

      .house-closed {
        display: none;
      }

      .mini-house {
        width: 200px;
        display: flex;
        justify-content: center;
        position: relative;

        .houseFive-left-mini {
          width: 5px;
          height: 25px;
          background-color: sienna;
          transform: rotate(50deg);
          position: relative;
          left: 10px;
          bottom: 8px;
          z-index: 1;
        }

        .houseFive-middle-mini {
          position: relative;
          width: 30px;
          @include flex(flex-start);

          .houseFive-chimney-div {
            position: absolute;
            top: -2px;
            left: 23px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .houseFive-chimney {
              background-color: sienna;
              height: 10px;
              width: 5px;
              border-radius: 0% 0% 0% 50%;
            }
          }

          .houseFive-short-log {
            background-color: sienna;
            width: 10px;
            height: 4px;
            border: solid 0.1px;
          }
          .houseFive-medium-log {
            background-color: sienna;
            width: 15px;
            height: 4px;
            border: solid 0.1px;
          }

          .houseFive-window-div {
            width: 30px;
            height: 8px;
            display: flex;
            .houseFive-window-div-side {
              width: 10px;
              height: 8px;
            }
            .houseFive-window {
              width: 10px;
              height: 8px;

              .houseFive-window-row {
                display: flex;
                width: 10px;
                height: 4px;

                .houseFive-window-pane {
                  height: 100%;
                  width: 5px;
                  height: 4px;
                  background-color: white;
                  border: solid 0.1px;
                }
              }
            }
          }

          .houseFive-long-log {
            height: 4px;
            width: 30px;
            background-color: sienna;
            border: solid 0.1px;
          }

          .houseFive-door-div {
            display: flex;
            height: 12px;
            width: 30px;
            .houseFive-door-div-side {
              height: 12px;
              width: 10px;
            }
            .houseFive-door-mini {
              height: 12px;
              width: 10px;
              background-color: sienna;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              border: solid 0.1px;

              .houseFive-door-knob-mini {
                background-color: gold;
                border-radius: 50%;
                position: relative;
                left: 1px;
                height: 2px;
                width: 2px;
              }
              .houseFive-lock-div {
                @include flex(center);
                height: 2px;
                width: 2px;
                left: 1px;

                .houseFive-lock-top {
                  background-color: black;
                  border-radius: 50%;
                  height: 1px;
                  width: 1px;
                }

                .houseFive-lock-bottom {
                  background-color: black;
                  height: 1px;
                  width: 1px;
                  position: relative;
                  bottom: 0.4px;
                }
              }
            }
          }
        }
        .houseFive-right-mini {
          width: 5px;
          height: 25px;
          background-color: sienna;
          transform: rotate(-48deg);
          position: relative;
          right: 10px;
          bottom: 8px;
        }
      }
    }

    .dashboard-middle-right {
      @include section(40vw);
      @include center(flex-end);

      .dashboard-forest {
        @include center(space-evenly);
        width: 100px;
        cursor: pointer;
      }
    }
  }

  .dashboard-bottom {
    @include row(35vh);

    .dashboard-bottom-left {
      background-image: url("../../Images/Grass.png");
      background-size: 100% 100%;
      @include section(40vw);
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .dragon {
        background-image: url("../../Images/dragon.gif");
        background-size: 100% 100%;
        height: 200px;
        width: 200px;
        animation: dragon;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-direction: normal;
        animation-fill-mode: forwards;
        position: relative;

        .fireball {
          position: absolute;
          border-radius: 50%;
          background-color: transparent;
          border: none;
          right: -20px;
          top: 30px;
          height: 25px;
          width: 25px;
          animation-name: fireball;
          animation-timing-function: linear;
          animation-duration: 2s;
          animation-direction: normal;
          animation-fill-mode: forwards;
        }

        .fireball-closed {
          display: none;
        }
      }

      .dragon-closed {
        display: none;
      }

      .dragonTwo {
        background-image: url("../../Images/dragon.gif");
        background-size: 100% 100%;
        height: 200px;
        width: 200px;
        animation: dragonTwo;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-direction: normal;
        animation-fill-mode: forwards;
        position: relative;
      }

      .dragonTwo-closed {
        display: none;
      }

      .phoenix {
        background-image: url("../../Images/Phoenix.gif");
        background-size: 100% 100%;
        height: 200px;
        width: 200px;
        animation: phoenix;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-direction: normal;
        animation-fill-mode: forwards;
        position: relative;

        .fireballTwo {
          position: absolute;
          border-radius: 50%;
          background-color: transparent;
          border: none;
          right: -20px;
          top: 30px;
          height: 25px;
          width: 25px;
          animation-name: fireballTwo;
          animation-timing-function: linear;
          animation-duration: 2s;
          animation-direction: normal;
          animation-fill-mode: forwards;
        }

        .fireballTwo-closed {
          display: none;
        }
      }

      .phoenix-closed {
        display: none;
      }

      .phoenixTwo {
        background-image: url("../../Images/Phoenix.gif");
        background-size: 100% 100%;
        height: 200px;
        width: 200px;
        animation: phoenixTwo;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-direction: normal;
        animation-fill-mode: forwards;
        position: relative;
      }

      .phoenixTwo-closed {
        display: none;
      }
    }

    .dashboard-bottom-middle {
      background-image: url("../../Images/Dirt.png");
      background-size: cover;
      @include section(20vw);
      @include flex(flex-end);

      .dashboard-dragon {
        @include flex(flex-start);
        cursor: pointer;
      }

      .maiden {
        @include flex(center);
        top: 20vh;
        left: 40%;
        position: absolute;
        animation-name: maiden;
        animation-duration: 8s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-timing-function: linear;

        .maiden-hat {
          border-radius: 50% 50% 25% 25%;
          height: 50px;
          width: 50px;
          border-top: peru 12px solid;
          border-left: peru 8px solid;
          border-right: peru 8px solid;
          position: relative;
          z-index: 3;
          top: 3px;
        }

        .maiden-head {
          display: flex;
          justify-content: center;
          position: relative;
          bottom: 38px;

          .maiden-hair-left {
            height: 5px;
            width: 21px;
            position: relative;
            left: 21px;
            z-index: 5;
            background-color: turquoise;
            border-radius: 50% 0% 0% 0%;
          }

          .maiden-face {
            height: 42px;
            width: 42px;
            background-color: #eebb99;
            border-radius: 50%;
            @include flex(center);
            border-bottom: black solid 1px;

            .maiden-eyes {
              width: 80%;
              @include center(space-evenly);
              position: relative;
              top: 0px;

              .maiden-eye {
                width: 13px;
                height: 11px;
                border-radius: 50%;
                background-color: white;
                @include flex(center);

                .maiden-iris {
                  width: 9px;
                  height: 7px;
                  border-radius: 50%;
                  background-color: turquoise;
                  @include flex(center);

                  .maiden-pupil {
                    height: 2.5px;
                    width: 3.5px;
                    border-radius: 50%;
                    border: black solid 1.8px;
                  }
                }
              }
            }
            .maiden-nose {
              height: 6px;
              width: 6px;
              @include flex(center);
              border-left: solid 0.5px;
              border-right: solid 0.5px;
              border-bottom: solid 0.5px;
              border-radius: 0% 0% 50% 50%;
              position: relative;
              top: 3px;
            }

            .maiden-mouth {
              height: 2px;
              width: 18px;
              background-color: red;
              border-radius: 50%;
              position: relative;
              top: 6px;
            }
          }

          .maiden-hair-right {
            height: 5px;
            width: 21px;
            position: relative;
            right: 21px;
            z-index: 5;
            background-color: turquoise;
            border-radius: 0% 50% 0% 0%;
          }
        }

        .maiden-body {
          @include flex(flex-start);
          position: relative;
          top: 5px;

          .maiden-upper-neck {
            height: 5px;
            width: 20px;
            z-index: 5;
            border-radius: 50%;
            border-bottom: 1px black solid;
            position: relative;
            bottom: 49px;
          }
          .maiden-neck {
            height: 15px;
            width: 20px;
            background-color: #eebb99;
            position: relative;
            bottom: 50px;
            border-radius: 30% 30% 50% 50%;
            z-index: 4;
          }

          .maiden-dress {
            width: 35px;
            height: 80px;
            background-color: turquoise;
            border-radius: 25% 25% 0% 0%;
            position: relative;
            bottom: 62px;
            z-index: 2;
            @include flex(flex-start);

            .maiden-arm-left {
              height: 30px;
              width: 10px;
              background-image: linear-gradient(turquoise 60%, #eebb99 60%);
              position: relative;
              right: 20px;
              top: 4px;
              transform: rotate(40deg);
              @include flex(flex-end);

              .maiden-hand-left {
                width: 15px;
                height: 10px;
                background-color: #eebb99;
                border-radius: 50%;
                position: relative;
                top: 10px;
                display: flex;
                justify-content: space-evenly;
                align-items: flex-end;

                .maiden-finger-one {
                  height: 6px;
                  width: 4px;
                  background-color: #eebb99;
                  position: relative;
                  top: 1px;
                  right: 3px;
                  transform: rotate(35deg);
                }

                .maiden-finger-two {
                  height: 5px;
                  width: 3px;
                  background-color: #eebb99;
                  position: relative;
                  top: 4px;
                  right: 4px;
                  transform: rotate(25deg);
                }

                .maiden-finger-three {
                  height: 5px;
                  width: 3px;
                  background-color: #eebb99;
                  position: relative;
                  top: 4px;
                  right: 3px;
                }

                .maiden-finger-four {
                  height: 5px;
                  width: 3px;
                  background-color: #eebb99;
                  position: relative;
                  top: 4px;
                  right: 1px;
                }

                .maiden-finger-five {
                  height: 5px;
                  width: 3px;
                  background-color: #eebb99;
                  position: relative;
                  top: 1px;
                  left: 2px;
                  transform: rotate(-25deg);
                }
              }
            }
            .maiden-arm-right {
              height: 30px;
              width: 10px;
              background-image: linear-gradient(turquoise 60%, #eebb99 60%);
              position: relative;
              left: 20px;
              bottom: 21px;
              transform: scaleX(-1) rotate(30deg);
              @include flex(flex-end);

              .maiden-hand-left {
                width: 15px;
                height: 10px;
                background-color: #eebb99;
                border-radius: 50%;
                position: relative;
                top: 10px;
                display: flex;
                justify-content: space-evenly;
                align-items: flex-end;

                .maiden-finger-one {
                  height: 6px;
                  width: 4px;
                  background-color: #eebb99;
                  position: relative;
                  top: 0px;
                  right: 3px;
                  transform: rotate(35deg);
                }

                .maiden-finger-two {
                  height: 5px;
                  width: 3px;
                  background-color: #eebb99;
                  position: relative;
                  top: 4px;
                  right: 4px;
                  transform: rotate(25deg);
                }

                .maiden-finger-three {
                  height: 5px;
                  width: 3px;
                  background-color: #eebb99;
                  position: relative;
                  top: 4px;
                  right: 3px;
                }

                .maiden-finger-four {
                  height: 5px;
                  width: 3px;
                  background-color: #eebb99;
                  position: relative;
                  top: 4px;
                  right: 1px;
                }

                .maiden-finger-five {
                  height: 5px;
                  width: 3px;
                  background-color: #eebb99;
                  position: relative;
                  top: 1px;
                  left: 2px;
                  transform: rotate(-25deg);
                }
              }
            }
          }

          .maiden-legs {
            @include center(space-evenly);
            width: 50px;
            position: relative;
            bottom: 62px;

            .maiden-leg-left {
              height: 30px;
              width: 9px;
              background-color: #eebb99;
              @include flex(flex-end);
              border-radius: 0% 0% 50% 50%;

              .maiden-foot {
                height: 9px;
                width: 13px;
                background-color: turquoise;
                position: relative;
                z-index: 1;
                border-radius: 50% 50% 0% 0%;
              }
            }

            .maiden-leg-right {
              height: 30px;
              width: 9px;
              background-color: #eebb99;
              @include flex(flex-end);
              border-radius: 0% 0% 50% 50%;

              .maiden-foot {
                height: 9px;
                width: 13px;
                background-color: turquoise;
                position: relative;
                z-index: 1;
                border-radius: 50% 50% 0% 0%;
              }
            }
          }
        }
      }

      .maiden-closed {
        display: none;
      }
    }

    .dashboard-bottom-right {
      background-image: url("../../Images/Grass.png");
      background-size: 100% 100%;
      @include section(40vw);
    }
  }
}

.character-initial {
  display: initial;
}

.character-initial-closed {
  display: none;
}

@keyframes dragon {
  0% {
    top: 65%;
  }

  100% {
    top: -80%;
  }
}

@keyframes dragonTwo {
  0% {
    top: -80%;
  }

  100% {
    top: 65%;
  }
}

@keyframes fireball {
  0% {
    display: inline;
    background-color: red;
    border: solid orange 2px;
    right: -20px;
  }

  100% {
    display: inline;
    background-color: red;
    border: solid orange 2px;
    right: -20vw;
    transform: scale(6);
  }
}

@keyframes maiden {
  0% {
    top: 20vh;
  }

  100% {
    top: -60vh;
  }
}

@keyframes fireballTwo {
  0% {
    display: inline;
    background-color: red;
    border: solid orange 2px;
    right: -20px;
  }

  100% {
    display: inline;
    background-color: red;
    border: solid orange 2px;
    right: -20vw;
    transform: scale(6);
  }
}

@keyframes phoenix {
  0% {
    top: 65%;
  }

  100% {
    top: -80%;
  }
}

@keyframes phoenixTwo {
  0% {
    top: -80%;
  }

  100% {
    top: -325%;
  }
}
