@import "../mixins";

.alley-body {

  .alley-top {
    @include row(35vh);
    background-image: url("../../Images/Brick.jpg");
    background-size: auto 100%;
  }

  .alley-middle {
    @include row(20vh);
    background-image: url("../../Images/Dirt.png");
    background-size: 100% 100%;

    .alley-middle-left {
      @include section(45vw);
      @include center(flex-start);

      .alley-market {
        @include center(flex-start);
        cursor: pointer;
        width: 120px;
      }
    }

    .alley-middle-middle {
      @include section(50vw);
      @include center(space-between);

      .cat {
        background-image: url("../../Images/Cat.png");
        background-size: 100% 100%;
        height: 75px;
        width: 75px;
        transform: scaleX(-1);
      }

      .beggar-div {
        @include flex(space-evenly);
        height: 100%;

        .beggar {
          background-image: url("../../Images/Beggar.png");
          background-size: 100% 100%;
          height: 75px;
          width: 75px;
          cursor: pointer;
        }

        .mouse {
          background-image: url("../../Images/Mouse.png");
          background-size: 100% 100%;
          height: 30px;
          width: 30px;
          cursor: pointer;
        }
      }

      .thieves-guild-div {
        width: 185px;

        .alley-thieves-guild {
          @include center(flex-start);
          cursor: pointer;
        }
      }
    }

    .alley-middle-right {
      background-color: #606060;
      @include section(5vw);
      @include center(flex-end);
    }
  }

  .alley-bottom {
    @include section(35vh);
    background-image: url("../../Images/Brick.jpg");
    background-size: auto 100%;
  }
}
