@import "../mixins";

.swamp-body {
  background-image: url("../../Images//Dirt.png");
  background-size: 100% 100%;

  .swamp-top {
    @include row(35vh);
    background-image: url("../../Images/Swamp.png");
  }

  .swamp-middle {
    @include row(20vh);
   
    .swamp-middle-left {
      @include section(40vw);
      @include center(flex-start);

      .swamp-forest {
        @include center(space-evenly);
        width: 100px;
        cursor: pointer;
        width: 100px;
      }
    }

    .swamp-middle-middle {
      @include section(20vw);

      .goblin-open {
        background-image: url("../../Images/goblin.gif");
        width: 200px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: contain;
        transform: scaleX(-1);
        position: relative;
        z-index: 1;
        bottom: 20px;
      }

      .goblin-closed {
        display: none;
      }
    }

    .swamp-middle-right {
      @include section(40vw);
      @include center(flex-end);

      .swamp-bog {
        @include center(space-evenly);
        width: 100px;
        cursor: pointer;
        width: 100px;
      }
    }
  }

  .swamp-bottom {
    @include row(35vh);
    background-image: url("../../Images/Swamp.png");
  }
}
