.cave-main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;

  .cave-body {
    background-image: url("../../Images/Dirt.png");
    background-size: 100% 100%;

    .cave-top {
      height: 50vh;
      display: flex;
      width: 100vw;

      .cave-top-left {
        background-image: url("../../Images/Forest2.png");
        height: 100%;
        width: 40%;
        background-size: 100% 100%;
      }

      .cave-top-middle {
        height: 100%;
        width: 20%;

        .cave-forest {
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
        }
      }

      .cave-top-right {
        background-image: url("../../Images/Forest2.png");
        height: 100%;
        width: 40%;
        background-size: 100% 100%;
      }
    }

    .cave-bottom {
      height: 50vh;
      display: flex;
      width: 100vw;

      .cave-bottom-left {
        background-image: url("../../Images//Grass.png");
        background-size: 100% 100%;
        height: 100%;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .cave-wolf {
          background-image: url("../../Images/wolf.gif");
          height: 200px;
          width: 200px;
          background-repeat: no-repeat;
          background-size: contain;
          position: relative;
          bottom: 30px;
        }
      }

      .cave-bottom-middle {
        height: 100%;
        width: 20%;
      }

      .cave-bottom-right {
        background-image: url("../../Images/Cave.png");
        background-size: 100% 100%;
        height: 100%;
        width: 40%;
      }
    }
  }
  .cave-card {
    height: 500px;
    width: 500px;
    background-color: white;
    border: solid black 2px;
    box-shadow: 2px 2px 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    text-align: center;

    .cave-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      color: tomato;
    }

    .cave-card-description {
      width: 90%;
    }
  }

  .cave-card-closed {
    display: none;
  }
  .answer-card {
    height: 400px;
    width: 400px;
    background-color: white;
    border: solid black 2px;
    box-shadow: 2px 2px 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    text-align: center;

    .answer-card-description {
      width: 90%;
    }
  }

  .answer-card-closed {
    display: none;
  }
}
