@import "../mixins";

.cave-body {
  background-image: url("../../Images/Dirt.png");
  background-size: 100% 100%;

  .cave-top {
    @include row(35vh);

    .cave-top-left {
      background-image: url("../../Images/Forest2.png");
      @include section(40vw);
      background-size: 100% 100%;
    }

    .cave-top-middle {
      @include section(20vw);

      .cave-forest {
        @include flex(flex-start);
        cursor: pointer;
      }
    }

    .cave-top-right {
      background-image: url("../../Images/Forest2.png");
      @include section(40vw);
      background-size: 100% 100%;
    }
  }

  .cave-middle {
    @include row(20vh);
    background-image: url("../../Images/Grass.png");
    background-size: 100% 100%;

    .cave-middle-left {
      @include section(40vw);
    }

    .cave-middle-middle {
      @include section(20vw);
      background-image: url("../../Images/Dirt.png");
    }

    .cave-middle-right {
      @include section(40vw);
    }
  }

  .cave-bottom {
    @include row(35vh);

    .cave-bottom-left {
      background-image: url("../../Images//Grass.png");
      background-size: 100% 100%;
      @include section(40vw);
      @include center(space-evenly);

      .cave-wolf {
        background-image: url("../../Images/wolf.gif");
        height: 200px;
        width: 200px;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        bottom: 30px;
        cursor: pointer;
      }

      .cave-wolf-closed {
        display: none;
      }

      .meat {
        background-image: url("../../Images//Meat.png");
        background-size: 100% 100%;
        height: 50px;
        width: 50px;
      }

      .meat-closed {
        display: none;
      }
    }

    .cave-bottom-middle {
      @include section(20vw);
      @include flex(flex-end);

      .cave-wolf {
        background-image: url("../../Images/wolf.gif");
        height: 200px;
        width: 200px;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        bottom: 30px;
        cursor: pointer;
      }

      .cave-wolf-closed {
        display: none;
      }

      .coin-div {
        height: 10px;
        width: 10px;
        margin-bottom: 10px;

        .coin {
          background-color: gold;
          border-radius: 50%;
          height: 10px;
          width: 10px;
          cursor: pointer;
        }

        .coin-closed {
          display: none;
        }
      }

      .bone-div {
        height: 30px;
        width: 50px;
        margin-bottom: 10px;

        .bone {
          background-image: url("../../Images//Bone.png");
          background-size: 100% 100%;
          height: 30px;
          width: 50px;
          cursor: pointer;
        }

        .bone-closed {
          display: none;
        }
      }
      .hat-div {
        height: 50px;
        width: 50px;
        margin-bottom: 10px;

        .hat {
          background-image: url("../../Images/Hat.png");
          background-size: 100% 100%;
          height: 50px;
          width: 50px;
          cursor: pointer;
        }
        .hat-closed {
          display: none;
        }
      }
      .cave-cottage {
        @include flex(flex-start);
        cursor: pointer;
      }
    }

    .cave-bottom-right {
      background-image: url("../../Images/Cave.png");
      background-size: 100% 100%;
      @include section(40vw);
    }
  }
}
