.cave-main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .cave-body {
    .cave-top {
      height: 50vh;
      display: flex;
      width: 100vw;

      .cave-top-left {
        background-image: url("../../Images/Forest2.png");
        height: 100%;
        width: 40%;
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }

      .cave-top-middle {
        background-color: brown;
        height: 100%;
        width: 20%;

        .cave-forest {
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
        }
      }

      .cave-top-right {
        background-image: url("../../Images/Forest2.png");
        height: 100%;
        width: 40%;
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }

    .cave-bottom {
      height: 50vh;
      display: flex;
      width: 100vw;

      .cave-bottom-left {
        background-color: forestgreen;
        height: 100%;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .cave-wolf {
          background-image: url("../../Images/wolf.gif");
          height: 200px;
          width: 200px;
          background-repeat: no-repeat;
          background-size: contain;
          position: relative;
          bottom: 30px;
        }
      }

      .cave-bottom-middle {
        background-color: brown;
        height: 100%;
        width: 20%;
      }

      .cave-bottom-right {
        background-image: url("../../Images//Cave.png");
        height: 100%;
        width: 40%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .character {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10px;

    .face {
      border-radius: 50%;
      width: 40px;
      height: 45px;
      background-color: peachpuff;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border-top: solid yellow 5px;

      .eyes {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        .eye {
          border-radius: 50%;
          background-color: blue;
          height: 3px;
          width: 5px;
        }
      }

      .nose {
        border-radius: 50%;
        background-color: black;
        height: 3px;
        width: 2px;
      }

      .mouth {
        border-radius: 50%;
        background-color: red;
        width: 20px;
        height: 3px;
      }
    }
    .body {
      width: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .neck {
        background-color: black;
        height: 5px;
        width: 10px;
      }

      .arms {
        display: flex;

        .left-arm {
          background-color: black;
          width: 25px;
          height: 5px;
          transform: rotate(-2deg);
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .hand {
            border-radius: 50%;
            height: 8px;
            width: 8px;
            background-color: peachpuff;
          }
        }

        .right-arm {
          background-color: black;
          width: 25px;
          height: 5px;
          transform: rotate(2deg);
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .hand {
            border-radius: 50%;
            height: 8px;
            width: 8px;
            background-color: peachpuff;
          }
        }
      }

      .torso {
        background-color: black;
        height: 20px;
        width: 10px;
      }

      .legs {
        display: flex;

        .left-leg {
          background-color: black;
          height: 30px;
          width: 5px;
          transform: rotate(10deg);
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;

          .foot {
            border-radius: 50%;
            height: 8px;
            width: 8px;
            background-color: black;
          }
        }

        .right-leg {
          background-color: black;
          height: 30px;
          width: 5px;
          transform: rotate(-10deg);
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;

          .foot {
            border-radius: 50%;
            height: 8px;
            width: 8px;
            background-color: black;
          }
        }
      }
    }
  }

  .character-moving {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: motion;
    animation-duration: 2s;
    animation-timing-function: linear;

    .face {
      border-radius: 50%;
      width: 40px;
      height: 45px;
      background-color: peachpuff;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border-top: solid yellow 5px;

      .eyes {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        .eye {
          border-radius: 50%;
          background-color: blue;
          height: 3px;
          width: 5px;
        }
      }

      .nose {
        border-radius: 50%;
        background-color: black;
        height: 3px;
        width: 2px;
      }

      .mouth {
        border-radius: 50%;
        background-color: red;
        width: 20px;
        height: 3px;
      }
    }
    .body {
      width: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .neck {
        background-color: black;
        height: 5px;
        width: 10px;
      }

      .arms {
        display: flex;

        .left-arm {
          background-color: black;
          width: 25px;
          height: 5px;
          transform: rotate(-2deg);
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .hand {
            border-radius: 50%;
            height: 8px;
            width: 8px;
            background-color: peachpuff;
          }
        }

        .right-arm {
          background-color: black;
          width: 25px;
          height: 5px;
          transform: rotate(2deg);
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .hand {
            border-radius: 50%;
            height: 8px;
            width: 8px;
            background-color: peachpuff;
          }
        }
      }

      .torso {
        background-color: black;
        height: 20px;
        width: 10px;
      }

      .legs {
        display: flex;

        .left-leg {
          background-color: black;
          height: 30px;
          width: 5px;
          transform: rotate(10deg);
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;

          .foot {
            border-radius: 50%;
            height: 8px;
            width: 8px;
            background-color: black;
          }
        }

        .right-leg {
          background-color: black;
          height: 30px;
          width: 5px;
          transform: rotate(-10deg);
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;

          .foot {
            border-radius: 50%;
            height: 8px;
            width: 8px;
            background-color: black;
          }
        }
      }
    }
  }
}

@keyframes motion {
  0% {
    bottom: 200px;
    left: 0px;
  }
  50% {
    bottom: 420px;
    left: 0px;
  }
  100% {
    left: -470px;
    bottom: 420px;
  }
}
