@import "../mixins";

.maze-body {
  background-image: url("../../Images/Grass.png");
  background-size: 100% 100%;

  .maze-top {
    @include row(35vh);

    .maze-top-left {
      @include section(40vw);
    }

    .maze-top-middle {
      @include section(20vw);
      @include flex(flex-start);
      background-size: 100% 100%;
      background-image: url("../../Images/Dirt.png");

      .maze-up {
        @include flex(flex-start);
        cursor: pointer;
      }
    }

    .maze-top-right {
      @include section(40vw);
    }
  }

  .maze-middle {
    @include row(20vh);
    background-image: url("../../Images/Dirt.png");

    .maze-middle-left {
      @include section(40vw);
      @include center(flex-start);

      .maze-left {
        @include center(space-evenly);
        cursor: pointer;
      }
    }

    .maze-middle-middle {
      @include section(20vw);
      @include flex(center);
    }

    .maze-middle-right {
      @include section(40vw);
      @include center(flex-end);

      .maze-right {
        @include center(space-evenly);
        width: 100px;
        cursor: pointer;
      }
    }
  }

  .maze-bottom {
    @include row(35vh);

    .maze-bottom-left {
      @include section(40vw);
    }

    .maze-bottom-middle {
      @include section(20vw);
      @include flex(flex-end);
      background-image: url("../../Images/Dirt.png");

      .maze-down {
        @include flex(flex-start);
        cursor: pointer;
      }
    }

    .maze-bottom-right {
      @include section(40vw);
    }
  }
}
